body {
    margin: 10px;
    border: 0;
    font-family: 'Roboto Mono', monospace;
}

p {
    font-size: 12px;
    text-align: center;
}

h1 {
    font-size: 18px;
}

h2 {
    font-size: 16px;
}

h1,
h2 {
    text-align: center;
}


/*Items' dimensions*/

.top,
.middle,
.bottom {
    width: 100px;
    height: 100px;
    background-color: Dodgerblue;
    border: medium solid lightgrey;
    margin: 10px 60px;
}

.top.side {
    flex-shrink: 2;
}

.top.center {}

.middle.side {
    flex-shrink: 0
}

.middle.center {}

.bottom.side {}

.bottom.center {
    flex-shrink: 2
}


/*Containers' properties*/

#top,
#middle,
#bottom {
    display: flex;
    background-color: Whitesmoke;
    /*Align horizontally*/
    justify-content: center;
    min-height: 200px;
    /*Align vertically*/
    align-items: center;
    border: thin dashed lightgrey;
}