{% extends "layout.html" %}

{% block main %}
<section id="some-commands">
<h2>Some useful commands</h2>
<p><code>date</code> - shows the current date and time.<br>
    <code>cal</code> - displays a calendar of the current month.<br>
    <code>df</code> - shows the free disk space.<br>
    <code>free</code> - shows the free memory space.<br>
    <code>file filename</code> - shows the filename's file type.<br>
    <code>less filename</code> - is a program for viewing long text documents. Press <code>h</code> for help navigating the file.<br>
    <code>type command</code> - shows what the <code>command</code> is.<br>
    <code>which command</code> - shows the location of the program (only works on executable programmes, not shell built ins or aliases).<br>
    <code>man n command</code>  displays the manual page for that command, where <code>n</code> is the section number (see page 46 of TLCL for a section breakout).<br>
    <code>apropos search-term</code> - it returns all the man pages matching the search term.<br>
    <code>command --help</code> - diplays a help page on how to use the command. It's a lot more readable than de <code>man</code>.<br>
    <code>info command</code> - shows general information abaut the command.<br>
    <code>uniq [file]</code> - removes duplicate adjacent lines from file or standard input.<br>
    <code>wc [file]</code> - prints the line, word and byte count from file or stdin.<br>
    <code>grep regExp [file]</code>- prints the lines of the file (or stdin) that contain the regExp.<br>
    <code>tail</code> - besides printing the last 10 lines of a file, if used with the option <code>-f</code>, it keeps track of the file and prints new lines to the console as soon as they're written on the file until stopped with <code>ctrl-c</code>.
    <br>
    <code>tee file | command</code> - works as a Y-split in a pipeline, taking input and sending it to both stdout and a file (or several files).<br>
    <code>printenv</code> - displays all global variables.<br>
    <code>script [file]</code> - allows you to record an entire terminal session and store it in <code>file</code>.<br>
    <code>lsblk</code> - list all available block dheevices (I think it refers to USB things).<br>
    <code>gunzip</code> - Uncompress (decompress / unzip) files.<br>
    <code>gzip</code> - Compress files.<br>
    <code>unzip file.zip</code> - uncompress .zip file.<br>
    <code>zip filename file1 file2 ... fileN</code> - compress files. Filename is the name of the result compressed file.<br>
    <code>id</code> - display user ID.<br>
    <code>sed 's/old/new/g' file.txt</code> - Substitute all instances of <i>old</i> for <i>new</i>.<br>
    <code>bash -c command</code> - Run <code>command</code><br>
    <code>bash [option] script-file</code> - Run <code>script-file</code><br>
    <code>xargs [option]... COMMAND [INITIAL-ARGS]...</code> - Run COMMAND with arguments [INITIAL-ARGS] and more arguments read from input.<br>

</p>

<h3>Wildcards</h3>
<div class="code"><img src="/static/Images/wildcards.jpg" alt="wildcards" height="180px"></div><br>
<div class="code"><img src="/static/Images/char_class.jpg" alt="Character Classes" height="150px"> </div>

</section>



<section id="virtual-terminals">
<h2>Virtual Terminals</h2>

<p>The virtual terminals are running behind de desktop even if there is no terminal session open. Acces them by pressing <code>ctl-alt-F1</code> (throguh F6). Once in the virtual terminal, navigate them with <code>alt-F1</code> to <code>alt-F6</code>.
    Return to the graphical desktop with <code>alt-F7</code>.</p>

</section>

<section id="links">
<h2>Soft links</h2>
<p>Soft links (aka symlinks or symbolic links) allow a file to be pointed at via a different name. When a symbolic link is deleted, the file keeps on existing, and if the file is deleted, the symbolic link will keep on existing but will point
    to nothing. These are called <i>broken links</i> and are ususally displayed in red by the <code>ls </code>command.<br> To create a symbolic link use <code>ln -s item link</code> where the option <code>-s</code> is for soft link, <code>item</code>                is the <strong>absolute filename</strong> to point at and <code>link</code> is the name of the link to create. </p>
<h3>Hard links</h3>
<p>All files have at least one hard link and that is its name, we can create another hard link using the same command as above without the <code>-s</code> option but hard links have two disadvantages: you can't reference a file on a different
    disk and you can't reference directories. This is why we usually use soft links</p>
</section>

<section id="redirection">
<h2>Redirection</h2>
<p>See redirection <a href="http://linuxcommand.org/lc3_lts0070.php">here</a>.</p>

<p>Redirection allows us to control where input comes from (keyboard by default) and where output goes to (screen as default). A command like <code>ls</code> sends it's output to standard output and it's errors to standard error. Any well written
    unix programms should do this to avoid redirecting errors and display them on the console instead.<br>See redirection of standard error on page 82.</p>

<h3>Discard output</h3>
<p>Redirect output to /dev/null; it is a program that accepts input and does nothing with it. Usually refered to as the <i>bit bucket</i>. To discard error messages use: <code>2&gt /dev/null</code>.</p>
</section>

<section id="arithmetics">
<h2>Arithmetics</h2>
<p>Artihmetic expressions in the command line look like this: <code>$((expression))</code>. If we want to nest operations, we can do it like this: <code>$(( ( expression1 ) + expression2 ))</code>.</p>

<h2>Expansions</h2>
<p>Expansion is what happens when what you type on the console is interpreted a number of whays by the Shell. Wildcards are one of them, you type in * and it gets expanded into every file in the directory in ascendent alphabetical or numerical
    order. <br>There's also the <i>parameter expansion</i> which is the one we use to display variable contents: <code>$variable</code>.<br>Another very useful expansion is the <em>history expansion</em>; if we want to use a command from the
    history, use <code>!xxx</code> where xxx is the line number.</p>
<h3>Brace expressions</h3>
<p>Brace expressions may contain a list of comma separated strings or a sequence of numbers or single characters: <code>{"one", "two", "three"}, {1..3}, {a..c}</code>. They get expanded and their values printed separately into stdout. See page
    96.
</p>

<p>When typing strings on the console, use double quotes to get rid of the special character's meaning and word splitting. Only $ \ and ` keep on working between double quotes, which means that parameter expansion, arithmetic operations and command
    substitution (when we use parameter expansion to use the output of a command as the input of another) will still take place. Use single quotes to supress all expansions. </p>
</section>

<section id="permissions">
<h2>Permissions</h2>
<p>The <code>chmod</code> command is used for changing the mode (permissions) of a file or directory. Only the file's owner and the superuser are allowed to make changes in permissions. Using 3 octal digits allows us to set peprmissions for the
    owner, group owner and world respectively: </p>
<div class="code"><img src="/static/Images/octal.jpg" height=" 220px"> </div>

<p>Alternatively, symbolic notation may be used. The first part of symbolic notation specifies who the changes apply to: u (user/owner), g (group), o (others/world), a (all) and the second part says what permissions are being modified: r, w,
    x or any combination. Use + to add permisions, - to remove and = to apply only the specified permissions and remove all others. Example: <code>chmod u+rwx</code> gives the file owner permission to read, write and execute. If the first
    part is omitted, all is assumed.</p>

<h3>Changeing identity</h3>
<p>It is possible to start a shell session as another user by using the command <code>su [-l] [user]</code>. Use <code>sudo su -</code> to start a session as the superuser.</p>

<h3>Change owner</h3>
<p>Use <code>chmod [owner][:[group]] file...</code></p>
<img src="/static/Images/chown.jpg" alt="chown" height="200px">
</section>

<section id="processes">
<h2>Processes</h2>
<p>Use <code>ps x</code> for a list of processes currently running. See page 112 for the meaning of the STAT column.<br> Use <code>top</code> for a self updating list of the top processes currently running. Press 'h' for help.<br> To start a
    process in the background, follow the commant with an smpersand: <code> [command] &</code>. When processes are running in the background, we can request a list of them with the command <code>jobs</code> and use the info given to bring
    a process back to the foreground with <code>fg %#</code> where # is the job number. Pause a process using <code>Ctrl-Z</code> and send it to the background using <code>bg %#</code>. </p>

<h3>Signals</h3>
<p>Use <code>kill [signal] PID</code> to send a signal to a program. If no signal is specified, a TERM (terminate) signal is sent and the program is ended. See page 120 for a list of signals.</p>
</section>

<section id="compiling">
<h2>Compiling</h2>
<p>Start by creating a directory called <code>src</code> containing the source code. Download the source code (tarball) with a <code>wget</code> or a <code>ftp</code>.<br>
Then run <code>./configure</code> and after that run <code>make</code>.<br>
Once the program has been built, run <code>sudo make install</code>. The program will typically be installed in <code>/usr/local/bin</code>. </p>
</section>

<section id="environment">
<h2>Configuring the environment</h2>
<p><ul>Some useful commands
    <li><code>set</code> - print environment and shell variables.</li>
    <li><code>printenv</code> - print environment variables</li>
    <li><code>alias</code> - use it without options or arguments to list all aliases.</li>
    <li><code>export var_name=value</code> - set environment variable <code>var_name</code> to <code>value</code></li>
</ul>
</p>
</section>

<section id="shortcuts">
<h2>Keyboard shortcuts</h2>
<figure><figcaption style="font-size:1.5rem;">Cursor movement</figcaption>
<img src="/static/Images/cursor.jpg" alt="Cursor movement shortcuts" height="250px">
</figure>

<figure><figcaption style="font-size:1.5rem;">Text editing</figcaption>
<img src="/static/Images/text-shortcuts.jpg" alt="Text editing shortcuts" height="220px">
</figure>

<figure><figcaption style="font-size:1.5rem;">Killing and yanking</figcaption>
    <img src="/static/Images/yanking.jpg" alt="Killing and yanking shortcuts" height="220px">>
</figure>
</section>

<section id="packages">
<h2>Package Management</h2>
<p>When a package is downloaded from a source other than a repository, use <code>dpkg -i package_file</code> to install it.</p>

<p><b>Remove</b> a package with <code>apt remove package-name</code>.</p>

<p>Apparently, <code>dpkg</code> can be used to create packages. We'll have to find out how. Take a look at Debian packaging <a href="https://www.debian.org/doc/devel-manuals#packaging-tutorial">here</a>.</p>
</section>

<section id="storage">
<h2>Storage Media</h2>
<h3>Mounting</h3>
<p>The first step in managing a storage device is attaching it to the file system tree (mounting). The <code>mount</code> command is used for mounting: <code>mount -t device-type device-name location</code> The -t flag is for specifying the device type. To find out what the device name is use <code>tail -f /var/log/messages</code> and watch what happens when you insert the device. Another option would be to compare the contents of the /dev directory (where all the devices live) before and after inserting the device. Use <code>umount device-name</code> to unmount a device.<br>
Using <code>mount</code> without arguments prints a list of currently mounted file systems. </p>
<p>The file /etc/fstab (File System Table) lists the devices that are to be mounted on boot.</p>

<h3>Manipulating partiitons with <code>fdisk</code></h3>
<p>To format and create new partitions on a storage device first unmount it and then use <code>fdisk device-name</code> and follow the instructions.</p>
<p>To create a new file system use <code>mkfs -t file-system-type device-partition-to-format</code>.</p>
</p>

<h3>Checking and repairing file systems</h3>
<p>The <code>fsck device-partition</code> command checks the integrity of the device's partition given (fuck knows what it does in the background) and recovered files from corrupted disks are stored in the lost+found directory. </p>
</section>

<section id="networking">
<h2>Networking</h2>
<h3>Examine the network</h3>
<p>The <code>ping</code> command sends a ICMP ECHO_REQUEST network packet to a specified host. Most devices receiving this packet will reply to it although devices can be configured to ignore it. Once started, <code>ping</code> will continue sending packets at a specified interval until interrupted.</p>

<p>The <code>traceroute</code> command lists all the hops network traffic takes to get from the local device to a specified host. For each hop the program returns the router's hostname, IP address and performance (in the shape of time time taken for three round trips from the local device to the router).</p>

<p>The <code>ip</code> command replaces old <code>ifconfig</code> and is used to examine a system networking things.
</p>

<p>The <code>netstat</code> command is another network checking program. Use <code>netstat -ie</code> to examine the network interfaces in your system.
</p>

<h3>File Transfer</h3>

<p>The <code>ftp</code> (<i>File Transfer Protocol</i>) program is used to interact with ftp servers. Machines that contain files which can be downloaded and uploaded over a network. Bare in mind <code>ftp</code> is a non secure connection.<br>
Use <code><b>sftp</b></code> for an encrypted connection. <code>sftp</code> uses and ssh tunnel for transfering the data, which means that an ftp server does not need to be running in the remote machine for you to be able to connect to it using sftp. Only the ssh server needs to be running.<br>
The SFTP protocol is supported by many of the GUI file managers. This allows you to insert the username and host as a uri on the search bar of your file manager (sftp://username@host) and acces the remote machine's file system.
</p>

<p>A better version of the above is <code>lftp</code> which includes support for HTTP and other cool features like tab completion.</p>

<p>The <code>scp</code> (Secure copy) program allows you to send and retrieve files to and from a remote machin in a secure way. To copy the file <code>foo</code> from <code>remote-sys</code> into the current working directory use <code>scp user@remote-sys:foo</code>
</p>

<p>Run a remote GUI through <code>ssh</code> by using the -X flag, which allows you to run graphical programs on the remote machine. Then, once logged in to the remote machine, run the <code>xload</code> command.</p>


</section>
{% endblock %}