{% extends "layout.html" %}

{% block main %}
<section id="intro">
  <h2>Intro</h2>
  <p>
    Let's see if i got this right: an application written in C contains many classes, each written in its own file, which is named after the class it contains and is used by the <code>main()</code> method in the <code>Program</code> class (in the Program.cs file).
  </p>

  <p>Classes can have different members (things accessable by dot notation): 
    <ul>
      <li>Fields: have their variable names written in lowercase and are directly modifiable by doing <code>instanceName.fieldName = newValue;</code></li>
      <li>Properties: these are in a state of quantum entanglement with fields. Anything that happens to these happens to them. In fact, they are named after the field they are entangled to but with Title case. When doing <code>instanceName.Property</code> in the background C is calling a <code>Set</code> or <code>Get</code> method which in turn modifies or returns the value of the correspondent field.</li>
      <li>Methods: define the constructor by giving it the same name as the class itself and use the <code>this</code> keyword (although it's not mandatory, it's better to be explicit) to set the Properties' values</li>
    </ul>

    Property and Getter/Setter syntax looks like this:<br>
    <div class="code">
    <img src="/static/Images/cs-class-properties.jpg" alt="Getter/Setter syntax example" height="190px"><br>
    <span class="red">Where 'value' is the value passed on to the setter.</span><br>
    <br>
    <span class="black">/* If you like overcomplicating things and you want a Property that directly sets the value of the field with no validation whatsoever, there is a forn of shorthand syntax for you: */</span><br>
    <span class="blue">public</span> <span class="brown">string Name </span>{<br>
      &nbsp; {<span class="blue">get</span>; <span class="blue">set</span>;}<br>}
      <br>
      <br>
      <Span class="red">Mote that in the shorthand form, it's not necesary to define the field, C does it for us.</Span>
  </div>
  <br>
  <strong>Static</strong> members can be added by using the keyword <Code>static</Code> between the access modifier and the data type and they can be accessed through <code>ClassName.Member</code> (static members are related to the Class, not an instance). Only remember that static methods can only access static fields.
  If you make the hole Class static, it won't be able to be instantiated. Do this if you are creating a library or utility.
          </p>


  <p>C# is an object oriented programming language. Very similar to Java by the looks of it. Use <code>Console.WriteLine("String")</code> to write to the console and <code>Console.ReadLine()</code> to read user input.<br>
  User input from the console comes in as a string. To convert variables from one data type to another use the <a href="https://docs.microsoft.com/en-us/dotnet/api/system.convert?view=netframework-4.7.2">Convert class</a>.<br>
  <code>// Write single line comments like this</code> and<br>
  <code>/* Multi <br>
  &nbsp; &nbsp;line<br>
  &nbsp; &nbsp;comments<br>
  &nbsp; &nbsp;like this          */</code>
  </p>

  <h3>Data types and variable declaration</h3>
  <p>Variable declaration syntax is: <br>
  <div class="code">
    <span class="blue">type</span> <span class="brown">varName</span> = value; 
  </div>
  </p>

  <ul>Data types
    <li><code>int</code></li>
    <li><code>float</code></li>
    <li><code>double</code> (double precision floating point number. Just use these.)</li>
    <li><code>char</code></li>
    <li><code>string</code></li>
    <li><code>bool</code> - true / false (lowercase)</li>
    <li><code>DateTime</code></li>
    <li><code>null / unassigned</code> - a variable is <code>null</code> if and only if it is explicitly assigned <code>null</code> as it's value (<code>type varName = null;</code>). It is <code>unassigned</code> if it gets declared but not assigned any value (<code>type varName</code>;).</li>
  </ul>

  <h3>Logical operators</h3>
  <ul>
    <li>&& - and</li>
    <li>|| - or</li>
    <li>! - not</li>
  </ul>

  <h3>Math class</h3>
  <p>Here are a couple Math built in methods (check out <a href="https://docs.microsoft.com/en-us/dotnet/api/system.math.abs?view=net-5.0">the docs</a> for the hole lot): </p>
  <ul>
    <li><code>Math.Abs(number)</code> returns the absolute value of number.</li>
    <li><code>Math.Sqrt(number)</code> returns the sqare root.</li>
    <li><code>Math.Floor(number)</code> rounds the number down.</li>
    <li><code>Math.Ceiling(number)</code> rounds up.</li>
    <li><code>Math.Min(a, b)</code> returns the smaller of two numbers.</li>
    
  </ul>

  <h3>Array class</h3>
  <p>Take  a look at a couple built-in methods for iterating  through arrays (visit <a href="https://docs.microsoft.com/en-us/dotnet/api/system.array.asreadonly?view=net-5.0">the docs</a> for the full list):
    <ul>
      <li><code>Array.Exists(array, callback)</code> - returns <code>true</code> if the callback returns <code>true</code> with any of the elements in the array.</li>
      <li><code>Array.Find(array, callback)</code> - returns the first element for which the callback returns true.</li>
      <li><code>Array.IndexOf(arrayName, element)</code> - returns the position of the element or -1 if not found.</li>
    </ul>
  </p>

  <p>Declare and initialize arrays as follows: 
    <div class="code">
      <span class="black">//Single line </span><br>
      <span class="brown">type</span>[] <span class="brown">arrayName</span> = {<span class="brown">element1</span>, <span class="brown">element2</span>, ..., <span class="brown">elementn</span>};
      <br><br>
      <span class="black">//Multi line</span><br>
      <span class="brown">type</span>[] <span class="brown">arrayName</span>;<br>
      <span class="brown">arrayName</span> = <span class="blue">new</span> <span class="brown">type</span>[] {<span class="brown">element1</span>, <span class="brown">element2</span>, ..., <span class="brown">elementn</span>};<br>
      <br>
      <span class="black">//Initialize empty array</span><br>
      <span class="brown">type</span>[] <span class="brown">arrayName</span> = <span class="blue">new</span> <span class="brown">type</span>[<span class="darkRed">size</span>];<br>
      <span class="black">//Where size is an integer</span><br>
      <br>
      <span class="red">Note you must use the new keyword when declaring and initializing the array on different lines.</span>
                    
    </div>

    Just like in Java, array sizes are <strong>fixed</strong>. Luckily, there exists the <a href="https://docs.microsoft.com/en-us/dotnet/api/system.array.resize?view=net-5.0"><code>Resize</code></a> method.
  </p>
  
            
</section>

<section id="control-flow">
  <h2>Control flow</h2>
  <p>If - else, switch statement, ternary operator</p>

  <h2>Loops</h2>
  <p>While, Do ... while, For, </p>
  <h3>Foreach</h3>
  <p><code>foreach (type element in collection) { code block };</code></p>
</section>

<section id="methods">
  <h2>Methods</h2>
  <p>Take a look at <a href="https://docs.microsoft.com/en-us/dotnet/csharp/methods">the docs</a>.</p>
  <p>For a method to accept array arguments or to give it default parameters use: <br>
    <img src="/static/Images/c-method-definition2.jpg" alt="Method definition in c#">
    <br><br>
    For named arguments use the following syntax when calling the method:<br>
    <div class="code">
      <br>
      <span class="brown">MethodName</span>(<span class="brown">argName</span>: <span class="brown">value</span>);
      <br><br>
    </div>

    Only remember that when mixing positional and named arguments in a method call, positional  arguments <strong>must </strong>come before named arguments.
  </p>

  <h3>Method overloading</h3>
  <p>Apparently this could be useful but it seems to me a long form of defining a method with optional arguments and them checking the existence of the parameters on the method call. Anyway, it goes like this: you can define a method more than once with different argument types, order, or ammount and the method that runs is the one that matches the arguments. After writing this it occurs to me that this may be good when your are likely to receive different parameter types on your method calls. It's just that stupid codecademy only gave examples for the sama type of argument, only different ammount, which again, seems to be a lot sympler to achieve with optional arguments.</p>

  <h3>Method output</h3>
  <p>It is posible to have a method modify a global varialbe. Enter <code>out</code><br>
  <div class="code">
    <span class="blue">static</span> <span class="brown">return_type MethodName</span> (<span class="blue">out</span> <span class="brown">type arg</span>) {<br>
    &nbsp; <span class="brown">arg</span> = <span class="black">// New Value</span>;<br>
    &nbsp; <span class="blue">return</span> <span class="black">// Return Value</span>;
    <br>}
    <br><br>
    <span class="black">// When calling this method, pass a variable in to it and it will modify its value.</span><br>
    <span class="brown">MethodName</span>(<span class="blue">out </span><span class="brown">varToModify</span>);
  </div>
  <br>
  </p>

  <h3>Alternate expressions: expresion-bodied definitions and lambda expressions</h3>
  <p><em>Expression-bodied definitions</em>, aka arrow functions, are a short way of definig single line methods and void methods: 
  <div class="code">
    <span class="brown">type</span>/<span class="blue">void</span> <span class="brown">MethodName</span>(<span class="brown">type args</span>) => <span class="black">// Return value</span>;<br>
    <br>
    <span class="red">Note how similar this is to js arrow functions. The curly braces and return keyword dissapear and are replaced by the arrow =>.<br>
    <br>
    Sometimes the data type of the argument is obvious and you can skip it.</span>
  </div>
  <br>
  <em>Lambda expressions</em> are the exact same thing as anonymus arrow functions. Period.
  </p>
</section>

<section id="interfaces">
  <h2>Interfaces and inheritance</h2>
  <p>Alright, this is getting a little codecademish. <br>
    An interface is kind of like a structure that defines the Properties and methods that a Class should have. That's why an interface's members are empty.

    <div class="code">
      <span class="blue">interface</span> <span class="brown">IMyInterface</span> {<br>
      &nbsp; <span class="black">/* Declare Properties and methods without giving them values or definitions. */</span>
      <br>}
      <br>
      <span class="red">For convention, start interface names with a capital 'I'</span>
    </div>
    <br>
    And once the interface is defined, implement it like this: 
    <div class="code">
      <span class="blue">class MyClass</span> : <span class="brown">IMyInterface</span> {<br>
      &nbsp; <span class="black">// Define same members than the interface.
        <br>}
    </div>
    <br>
    Apparently this is a way of forcing yourself to define certain members into your classes. IF the class that you define as an implementation of an interface does not contain the same members as the interface, you'll get an error.<br>
    Learning this things feels very much like learning Pythagoras theorem when I was 12. I really fucking hope this all becomes useful one day.
  </p>

  <h3>Inheritance</h3>
  <p>To create subclasses, use the same colon notation we use for impplementing interfaces. In fact, you can create a subclass and implement an interface at the same time:
    <div class="code">
      <span class="blue">class MySubClass</span> : <span class="brown">SuperClass</span>, <span class="brown">Interface</span> {<br>
        &nbsp; <span class="blue">public</span> <span class="brown">MySubClass</span>(<span class="brown">type arguments</span>) : <span class="blue">base</span>(<span class="brown">arguments</span>)<br>
        <span class="black">// Here goes the code that goes on top of the superclass' constructor.</span>
        <br>}
        <br><br>
        <span class="red">The ':' notation and base keyword calls the superclass' constructor </span>
    </div>
  <br>
  Use the <code>protected </code>keyword to allow subclasses to acces parent class members.<br>
  If you want to <strong>override</strong> members, you have to tell C that beforehand by using the kwyword <code>virtual</code> after the access modifier on the superclass and then use <code>override</code> after the acces modifier on the subclass to rewrite the thing.
  </p>

  <h3>Abstract members</h3>
  <p>In the superclass definition use <code>acces_modifier abstract type MemberName;</code> to ensure that all subclasses define that property or method. This is useful if you want all your subclasses to have a certain member that is unique to them so you can't define it within the superclass. Only bear in mind that if one member of a class is <code>abstract</code>, then the hole class cannot be instantiated and therefore the entire class itself needs to be declared as <code>abstract</code> (<code>abstract class ClassName</code>). Also remember that when defining the member in subclasses we are in effect overriding it, so we need to use the <code>override</code> keyword.</p>
</section>

<section id="references">
  <h2>References</h2>
  <p>In c#, when we do something like
    <div class="code">
      <span class="brown">type varName</span> = <span class="blue">new</span> <span class="brown">type</span>();<br>
      <span class="brown">type varName2</span> = <span class="brown">varName</span> ;
    </div>
    Instead of copying the value (in this case an object) of <code>varName</code>  onto <code>varName2</code>, C# assings the same object to the second variable. Kind of like doing an <code>alias</code>.<br>
    Just keep in mind this doesn't work the same way with <i>value types</i> (<code>int</code>, <code>double</code>, <Code>bool</Code>, <code>char</code>), where the variable contains the actual value instead of pointing to an address in memory that contains the object as it happens with <i>reference types</i>.
  </p>

  <p>Now this is important when doing comparison in C# because when comparing <i>value types</i>, C will check whether the variables contain the same value. But when comparing <i>reference types</i>, C will check wether the variables point to the same address  in memory, that is, whether they <b>are the same thing</b>.</p>

  <p>When a class (<code>SomeClass</code>) implements an interface (<code>ISomeInterface</code>) or extends a <code>Superclass</code>, we can reference instances of that class as of type <code>ISomeInterface</code> or <code>Superclass</code>. This is called <strong>upcasting</strong>. Bear in mind though, that when referencing an object as belonging to it's superclass, we loose all functionality specific to the subclass and can only access the members of the instannce that are present in the superclass.</p>

  <h3>Object Class</h3>
  <p>Check out the <a href="https://docs.microsoft.com/en-us/dotnet/api/system.object?view=net-5.0">docs</a>.</p>
  <p>All classes are children of one God Class: <code>Object</code>. This means that upcasting allows us to reference any object as of type <code>Object</code>.<br>
    <span class="red">Note: value types also inherit from <code>Object</code>. </span><br>
    <br>

    The Object class has a couple (arguably) usefull methods:<br>
    <ul>
      <li>Equals(object) (<code>virtual</code>) - I don't really know what this thing compares, the actual value? the data type? the address at which the variable points to? </li>
      <li>GetType() - returns the data type.</li>
      <li>ToString() (<code>virtual</code>)- describes the object.</li>

    </ul>
    </p>
</section>

<section id="strings">
  <h2>Strings</h2>
  <p>Strings are peculiar. They are objects that contain a load of <code>char</code> types but they behave like value types when we do things like comparing strings or assigning the string stored in a variable to another variable.
    <div class="code">
      <span class="brown">string str1</span> = <span class="orange">"papota"</span>;<br>
      <span class="brown">string str2</span> = <span class="brown">str1</span>;<br>
      <span class="black">/* str1 and str2 point to different locations in memory. Modifying one wont't affect the other */</span><br>
      <br>
      <span class="brown">string str3</span> = <span class="orange">"papota"</span>;<br>
      <span class="brown">string 1</span> == <span class="brown">string 3</span> <span class="black">// true</span>
    </div>
    <br>

  </p>

  <h3>Variable parsing into strings</h3>
  <p>Use the following syntax:
    <div class="code">
      <span class="brown">string myString</span> = <span class="orange">$"This is a string that will parse a </span>{<span class="brown">variable</span>}<span class="yellow">."</span>;
    </div>
    <br>
    Check the <a href="https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/tokens/interpolated">docs</a>.
  </p>

  <h3>String's built in methods and properties</h3>
  <p>Find them all in the <a href="https://docs.microsoft.com/en-us/dotnet/api/system.string.clone?view=net-5.0">docs</a>.</p>
  <ul>
    <li><code>string.Length</code></li>
    <li><code>string.IndexOf(substring)</code> - returns position of substring or -1 if not found.</li>
    <li><code>string.Substring(index)</code> - returns the substring from index till the end.</li>
    <li><code>string[index]</code> returns the character at the index given.</li>
    <li><code>string.ToUpper()</code></li>
    <li><code>string.ToLower()</code></li>
    <li><code>String.IsNullOrEmpty(variable)</code> - use it to check truthy or falsyness on strings.</li>
    
  </ul>
</section>

<section id="lists">
  <h2>Lists</h2>
  <p>Same thing we have in Java. Someone realised C style arrays are good for fuck all and invented the Lists, which is the usefull type of array. Let's see now how clumsy it is to build them:
    <div class="code">
      <span class="blue">using</span> <span class="brown">System</span>.<span class="brown">Collections</span>.<span class="brown">Generic</span>;<br>
      <br>
      <span class="brown">List</span>&lt;<span class="brown">data_type</span>&gt; <span class="brown">listName</span> = <span class="blue">new</span> <span class="brown">List</span>&lt;<span class="brown">data_type</span>&gt; {<span class="brown">element1</span>, <span class="brown">element2</span>, ..., <span class="brown">elementN</span>};
    </div>
    <br>
    You can access and modify list's elements through square bracket notation (lists are zero indexed). And you can iterate through lists with <code>foreach</code> loops just as we do with arrays.<br>
    The methods to work with these guys are (see the full list <a href="https://docs.microsoft.com/en-us/dotnet/api/system.collections.generic.list-1?view=net-5.0">here</a>):
    <ul>
      <li><code>listName.Add(element)</code></li>
      <li><code>listName.Count</code> - a property that contains the number of elements.</li>
      <li><code>listName.Contains(element)</code></li>
      <li><code>listName.Remove(element)</code> - returns true if the element is removed succesfully.</li>
      <li><code>listName.Clear()</code> - removes all elements from a list.</li>
      <li><code>listName.AddRange(range)</code> - 'range' is an array or list, its elements get added to the end of the list.</li>
      <li><code>listName.InsertRange(index, range)</code> - adds the elements of the range at the given index (int).</li>
      <li><code>listName.RemoveRange(index, amount)</code> - Removes <code>amount</code> elements starting at <code>index</code>.</li>
      <li><code>listName.GetRange(index, amount)</code> - returns a list containing <code>amount</code> elements starting at <code>index</code>.</li>
    </ul>
  </p>
</section>

<section id="linq">
  <h2>LINQ: database querying stuff</h2>
  <p><a href="https://docs.microsoft.com/en-us/dotnet/csharp/linq/">Documentation</a>.</p>
  <p>Start by importing the thing with <code>using System.Linq;</code><br>
    Every query returns either a single value or an object of type <Code>IEnumerable&lt;T&gt;</Code>          
  </p>

  <p>There are two ways of writing queries: the plain old SQL type of syntax and the method syntax.
    <div class="code">
      <span class="black">//Query style</span><br>
      <span class="blue">var</span> <span class="brown">filteredData</span> =  <span class="blue">from</span> <span class="brown">info</span> <span class="blue">in</span> <span class="brown">dataBase</span><br>
      &nbsp; <span class="blue">where</span> <span class="black">// Condition to test on info</span> <br>
      &nbsp; <span class="blue">select</span> <span class="brown">info</span>;<br>
      <br>
      <span class="black">// Method style</span><br>
      <span class="blue">var</span> <span class="brown">filteredData2</span> = <span class="brown">dataBase</span>.<span class="brown">Where</span>(<span class="brown">info</span> =&gt; <span class="black">// Condition to test on info</span>);<br>
      <br>
      <span class="blue">var</span> <span class="brown">filteredData3</span> = <span class="brown">filteredData2</span>.<span class="brown">Select</span>(<span class="brown">info</span> =&gt; <span class="black">// Modify info here</span>);<br>
      <br>
      <span class="red">Note: dataBase is an iterable. filteredData will contain all the elements in dataBase that meet the condition.<br>
      The Where() method takes a function as an argument like the .map() method in JavaScript<br>
      The Select() method allows you to perform a certain action on the data and returs the modified data.</span>
    </div>
    <p>For a full list of methods <a href="https://docs.microsoft.com/en-us/dotnet/api/system.linq.enumerable.aggregate?view=net-5.0">see the reference</a>.</p>
  </p>
</section>
{% endblock %}
