{% extends "layout.html" %}

{% block main %}
<h2>Externalising style sheets</h2>
<p>Link your own or import one:</p>
<code>
&lthead&gt <br>
&ltlink rel="stylesheet" type="text/css" href="adrees/filename.css"&gt<br>
@import http://www.we.org/StyleSheets/Core/stylesheet.css<br>
&lt/head&gt
</code>
<h3>Link browser tab icon</h3>
<code>&lt;link rel="icon" href="file_location/file.ico" /&gt;</code>

<section id="selectors">
    <h2>Selectors</h2>
    <h3>Classes</h3>
    <p>You can assign more than one class name to a single element:</p>
    <code>&ltp class="class1 class2"&gtI can then target this element through either of those class names&ltp&gt</code>

    <h3>Pseudo classes</h3>
    <p>See the reference <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/Pseudo-classes">here</a></p>
    <p><code>:visited</code> for links that have been opened.</p>
    <p><code>:link</code> for links that havn't yet been visited.</p>
    <p><code>:hover</code> for when the cursor passes over the element.</p>
    <p><code>:active</code> the action occurs whilst the element is beeing clicked on</p>
    <code>:nth-child(even|odd|X)</code>


    <h3>Pseudo elements</h3>
    <p>See the reference <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/Pseudo-elements">here.</a></p>
</section>

<h3>Children and descendants</h3>
<ul id=children>
    <li><code>ul li</code> li that is a descendant of ul.</li>
    <li><code>ul &gt li</code> li that is a child of ul (grandchildren get left out).</li>
    <li><code>h1 + p </code>p that is and adjacent sibling of h1(only the one next to it).</li>
    <li><code>h1 ~ p </code> all p that are siblings of h1.</li>
    <li><code>h1, h2, h3 </code>all h1, h2 and h3s.</li>
    <li><code>div.important </code>div element that has a class of "important".</li>
</ul>


<h2>Rules of precedence</h2>
<ul>
    <li>The more specific selector applies.</li>
    <ul>
        <li>&ltelement&gt</li>
        <li>.class</li>
        <li>#id</li>
    </ul>
    <li>If no style is specified, elements inherit style from their parents.</li>
    <li>If two or more styles are applied to one element, the closer one to the element applies</li>
</ul>

<p>The <code>!important</code> flag is a way to target an attribute to make it almos impossible to override.</p>
<p class="code"><code>p {color: blue <span style="color: blue">!important</span></code>}</code>
</p>
<p>As noted above, the flag is pointing at the particular attribute of that selector. It is, in a way, the most specific CSS selector and should be avoided.</p>

<h2>Box model</h2>
<p>Clear browser's default settings by writing the following on the top of your stylesheet:</p>
<p class="code"> * {<br>&nbsp margin: 0;<br>&nbsp padding: 0;<br>&nbsp }</p>
<dl>
    <dt>Overflow</dt>
    <dd>Allows you to stuff more content than fits in the box. Values: visible, hidden, scroll, auto.</dd>
    <dt>Border</dt>
    <dd>Short notation allows you to define<code> border: width style color</code>.<br> Border radius takes values in px or % (doesn't work on tables when border-collapse is set to 'collapse'). Set border radius to 100% to display the element as a
        circle.
    </dd>
    <dt>Margin</dt>
    <dd>When two boxes display next to each other, their margins add up and the sum of them makes the distance between elements. But on elements that display on top of each other, it's the biggest margin that sets the distance, not the adition of
        them.
    </dd>
    <dt>Box-sizing property</dt>
    <dd>This property specifies which type of box model the browser will use when displaying the page. the default value is <code class="red">content-box</code> that is the model in which the size of a box is the addition of the content size plus
        padding and border width. Alternatively we can change this to <code class="red">border-box</code> which fixes the height and width of the box to the value we give it, fitting the border, padding and the element inside the box.</dd>
    <p class="code">* {<br>&nbsp <span class="blue">box-sizing</span>: <span class="brown">border-box</span>;<br>&nbsp}</p>
</dl>
<h3>Border short notation</h3>
<p class="code"><code>
<pre>border-radius: Xpx             |<span class="brown">all margins.</span>
            Xpx Ypx         |<span class="brown">top-botom left-right.</span>
                Xpx Ypx Wpx Zpx |<span class="brown">clockwise from top.</span></pre>
</code></p>

<section id="typography">
    <h2>Typography</h2>
    <dl><dt>
<h3>Font family</h3></dt>
        <dd>The default font face used by browsers is Times New Roman.<br>
            <span id="serif">Serif: have a bit more flow to them. They are considered easier to read, hence they are used in body text.</span><br>
            <span id="sansSerif">Sans-serif: look a bit more technical.</span><br>
            <span id="monospace">Monospace: is the 'coding' type of font.</span>
        </dd>
    </dl>
    <p>Set 'fallback' fonts to give the browser more posibilities in case a font is not installed in a user's computer:</p>
    <p class="code"><span class="blue">font-family</span>: garamond, times, serif;</p>

    <dl> <dt>
<h3>Font Style</h3></dt>
        <dd>
            <p>Normal or <i>italic</i></p>
        </dd>

        <dt>
<h3>Font weight</h3></dt>
        <dd>
            <p><span id="lighter">Lighter, </span><span>normal, </span><span id="bold">bold </span>and <span id="bolder">bolder</span>. It can also take a value from 100 to 900 in multiples of 100.</p>
        </dd>

        <dt><h3>Web fonts</h3></dt>
        <dd>
            <p>Check out the <a href="https://www.cssfontstack.com/">CSS Font Stack</a> here and download fonts.<br>Also check <a href="https://fonts.google.com/">Google Fonts</a> for open source fonts.</p>
            <p id="webFonts">
                To use online fonts, paste the link to the font on the head section before the stylesheet link to allow the browser to load the font before the stylesheet uses it. Then assign the font family to your elements in the stylesheet (As done for this paragraph).</p>
            <p class="spaceMono">It is also possible to load a font directly into the stylesheet. To do this, instead of pasting the link onto the HTML file, throw it in the browser's URL bar, copy the rules labeled as <code>/*latin*/</code> and paste them at the
                TOP of the css stylesheet. Bear in mind there may be more than one rule under the same label on different lines. </p>
            <p>Finally, the <code>@font-face</code> property can be used to load local fonts. Make sure to include as many formats as possible, different browsers support different formats.</p>
            <p class="code"><span class="green">@font-face</span> { <br>&nbsp; <span class="blue">font-family</span>: "Roboto"</span>;<br>&nbsp; <span class="blue">src</span>: <span class="orange">url</span>(fonts/Roboto.woff2) <span class="orange">format</span>('woff2'),<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span class="orange">url</span>(fonts/Roboto.woff)
                <span class="orange">format</span>('woff'),
                <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="orange">url</span>(fonts/Roboto.tff) <span class="orange">format</span>('truetype');
                <br>}
            </p>
        </dd>
    </dl>
</section>

<section id="pageLayout">
    <h2>Page Layout</h2>
    <ol>
        <li>Positioning</li>
        <li>Floating</li>
        <li>Visibility</li>
    </ol>
    <h3 id="positioning">1.</h3>
    <ul>
        <li>Static: It's the default positioning</li>
        <li>Relative (to it's normal position): positions can be set in pixels, ems or %.<br>&nbsp; Syntax:
            <p class="code"> <span class="brown">&ltselector&gt</span> {<br>&nbsp <span class="blue">position</span>: relative;<br>&nbsp <span class="blue">left</span>: Xpx;<br>&nbsp <span class="blue">top</span>: Ypx;<br><span class="blue">&nbsp; z-index</span>:
                *bigger z-value displays on top - does NOT work on static elements*<br>}</p>
        </li>
        <li>Absolute: when an element's position is set to absolute, all other elements on the page will ignore it. The element gets 'detached' off the page.</li>
        <li>Fixed: the element stays in the position given, even when the page is scrolled.</li>
    </ul>

    <h3 id="float">2.</h3>
    <p>The floating property works on static and relative postioned elements. The <code>clear</code> property keeps an element from touching the sides of a floating element above it. It can take one of three values: <code>left</code> (the element
        won't touch the left hand side of the floating element), <code>right</code> (the element won't touch the right hand side of the floating element, or <code>both</code>.</p>

    <h3 id="visibility">3.</h3>
    <ul>
        <li>Display:
            <ul>
                <li>none: the element dissapears from the page.</li>
                <li>inline: inline element's height and width properties cannot be modified.</li>
                <li>block.</li>
                <li>inline-block: allows items to display next to each other and also allows you to set height and width properties, which you can't do on inline elements. (the img element is one of these by default).</li>
            </ul>
        </li>
        <li>Visibility: hidden (the element stays on the page but becomes invisible).</li>
    </ul>
</section>

<section id="text-properties">
    <h2>Text properties</h2>
    <ul>
        <li>color - <i>Foreground color</i> is the color that an element appears in. When changing the color of text we are actually changing this. Colors can be described in any of the following ways:
            <ul>
                <li>Keyword colors</li>
                <li>RGB: rgb(0,255,0)</li>
                <li>HSL (Hue, Saturation, Lightness) it looks like:<code> hsl(0-360, 0-100%, 0-100%)</code>.</li>
                <span class="brown">In both RGB and HSL we can add the alpha-value at the end. It sets opacity and ranges from 0 (transparent) to 1 (opaque).</span>
                <li>Hexadecimal: #00FF00</li>
            </ul>
        </li>
        <li>opacity: ranges from 0 (transparent) to 1 (opaque).</li>
        <li>text-align: left | right | justified | center.</li>
        <li>vertical-align: baseline | top | middle | bottom | sub. It defines the vertical positioning of the text inside its container.</li>
        <li>text-decoration: underline | line-through | overline | none.</li>
        <li>letter-spacing: &gt0px to increase | &lt0px to decrease. It can also take a value in <code>em</code></li>
        <li>word-spacing: same as above.</li>
        <li>line-height: Xem (space between lines of same paragraph). It can aslo take a unitless number that will be computed as a proportion of the font size.</li>
        <li>text-shadow: Xpx Ypx 0-1em color (third value is blurriness).<br><span class="brown">Add more shadows by separating them with comas</span></li>
        <li>text-transform: lowercase | uppercase | capitalize.</li>
    </ul>
</section>

<aside id="imageShadow">
    <h4>Little trick to put shadows on an image (on the image itself, not the css box containing it).</h4>
    <p class="code"><code>
drop-shadow (Xpx Ypx Zpx rgba(0, 0, 0, 0.5))
</code></p>
</aside>

<section id="dinamic-properties">
    <h2>CSS dinamic properties</h2>
    <p> allow you to make changes on the screen but i think jQuery does this with less code so I won't bother.</p>

</section>

<h2>Backgrounds</h2>
<p>See the reference <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/background-size#cover">here.</a></p>
<h3>Gradient of colors</h3>
<p class="code"><span class="brown">body</span> {<br>&nbsp;<span class="blue"> background-color</span>: #F7F7F7;<br> /* Old browsers */ <br>&nbsp;<span class="blue"> background-color</span>:-moz-linear-gradient(45deg, #F7F7F7 0%, #EAE0D5 100%);<br>/* FF3.6-15*/<br>&nbsp;
    <span class="blue">background-color</span>:-webkit-linear-gradient(45deg, #F7F7F7 0%, #EAE0D5 100%);<br>/* Chrome10-25,Safari5.1-6 */<br>&nbsp;<span class="blue"> background-color</span>:linear-gradient(45deg, #F7F7F7 0%, #EAE0D5 100%);<br>}</p>

<section id="responsive-web-design">
    <h2>Responsive Web Design, Motherfuckers!</h2>
    <h3>Relative sizing</h3>
    <p>The key is to use relative sizing instead of absolute, and our hero in this section is the <code class="blue">em</code>, 1 em equals to the size of the base font the browser uses, 16 pixels as a general rule these days.<br> But wait! we can
        set the base font size of a parent element and then, it's children's sizes set in ems will relate to it.</p>
    <div class="code"><span class="brown">div</span> {<br>&nbsp;<span class="blue">font-size</span>: 18px;<br>}<br><span class="brown">div p</span> {<br>&nbsp;<span class="blue">font-size</span>: 2em;<br>} </div>
    <p>In this case, the <code>p</code> element that lives inside that <code>div</code> is going to be 36 pixels big.<br>The same syntax can be used for sizing <b>non text elements</b> relative to their parent container by using <b>percentages</b>.
        Say you have two images inside a div container, set the absolute size of the div and then set 50% for the image size for them to fit nice and snuggly side by side.<br>Alternatively, when setting <b>margin and padding</b> as a percentage,
        it's the entire <strong>width</strong> of the parent container that serves as a reference (even when setting vertical margin and padding).</p>
    <p>Aaaaaand there is yet another relative measurement unit, the <code class="blue">rem</code>. This guy refers to the root element (&lthtml&gt) for a base value, and this will usually be 16 pixels unless we state otherwise at the top of our stylesheet.</p>
    <h3>Min and max width</h3>
    <p>Also, let's make sure we keep our page from expanding or shrinking excessively by setting the <code class="blue">min-width</code> and <code class="blue">max-width</code>properties to a fixed value in pixels.<br>Min and max values can also
        be set for the heigth property.</p>

    <h3>Media Query</h3>
        <p>Load a css file only if a media query applies</p>
        <img src="/static/Images/media_q_1.png">

    <p>Media queries are used for checking the divece's characteristics and apply different style rules depending on them. This characteristics are called <i>media features</i> and we can include more than one separated by logical operators <i>and</i>, <i>not</i> and commas (,) for <i>or</i>.<br> Some of the aspects that can be evaluated in a screen are: <i>width, height, resolution</i> (in dpi) <i>orientation</i>, and others.<br> The syntax looks like this but I don't really know what
        every word means:</p>

    <div class="code"><span class="blue">@media</span> <span class="orange">only</span> <span class="green">screen</span><span class="blue"> and</span> (max-width: 480px) {<br>&nbsp;/*CSS rules go here*/<br>}</div>
    <p>In that example, <code>(max-width: 480px)</code> is the media feature. The CSS rules will apply on screens up to 480 pixels wide.</p>

    <h4>Media queries for folding devices</h4>
    <p>Read the <a href="https://drafts.csswg.org/css-env/#viewport-segments">docs</a></p>
    <img src="/static/Images/media_query_folds.png">

    <p>In CSS, you have access to environment variables that contain data about the folds</p>
    <ul>
        <li><code>env(viewport-segment-width 0 0)</code>: width of viewport on the left</li>
        <li><code>env(viewport-segment-height 0 0)</code>: height of the viewport on the left</li>
        <li><code>env(viewport-segment-right 0 0)</code>: position where the right edge of the viewport on the left is</li>
        <li><code>env(viewport-segment-left 1 0)</code>: position where the left edge of the viewport on the right is</li>
    </ul>
    <p>Segments being the individual regions of the viewport separated by hinges and folds. The first index indicates column number, and the second, row (as if thinking about the screen segments layout as elements of a matrix).</p>

    <p>The number of segments on the screen can also be accessed from javascript with <code>window.visualViewport.segments;</code></p>
    

    <h4>Breakpoints</h4>
    <p>Breakpoints are the points at which the media queries are set (the screen size at which you change the way your page is displayed for example). To find them, resize the browser to see at which point the page stops displaying well and use those
        dimensions as your breakpoint.<br>
        <img id="breakpoints" src="https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/screen-sizes.png" alt="screen size reference"></p>

</section>

<section id="flexbox">
    <h2>Flexbox, bitch!</h2>
    <p>To make a <i>flex container</i> out of an element, set its <code>display</code> property to <code>flex</code> (the container keeps on beeing a block element) or <code>inline-flex</code>(the container becomes an inline element). All direct
        childs of a flex container will be <i>flex items</i>, they inmediately become inline elements and shrink proportionally if the container is too small. Once we have a flex container, there are several properties we can modify to define
        how its children will behave:
    </p>
    <a 
        href="flexbox/justify-content.html" 
        target="flexBoxFrame" 
        title="Organize content horizontally"
        >justify-content<sup>1</sup>
    </a>
    &nbsp;<span>|</span>&nbsp;
    <a 
        href="flexbox/align-items.html" 
        target="flexBoxFrame" 
        title="Organize content vertically."
        >align-items<sup>1</sup>
    </a>
    
    &nbsp;<span>|</span>&nbsp;
    <a 
        href="flexbox/flex-wrap.html" 
        target="flexBoxFrame"
        title="Gets the items to fall on a different line instead of shrinking to fit the container."
        >flex-wrap<sup>1</sup>
    </a>
    &nbsp;<span>|</span>&nbsp;
    <a 
        href="flexbox/align-content.html" 
        target="flexBoxFrame" 
        title="Same as justify-content but vertically."
        >align-content<sup>1</sup>
    </a>
    &nbsp;<span>|</span>&nbsp;
    <a 
        href="flexbox/flex-direction.html" 
        target="flexBoxFrame" 
        title="Changes the direction of the container's main axis"
        >flex-direction<sup>1</sup>
    </a>
    &nbsp;<span>|</span>&nbsp;
    <a 
        href="flexbox/flex-grow.html" 
        target="flexBoxFrame" 
        title="Items expand proportionally to fill spare space. Default value is 1. Initial value is 0"
        >flex-grow<sup>2</sup>
    </a>
    &nbsp;<span>|</span>&nbsp;
    <a 
        href="flexbox/flex-shrink.html" 
        target="flexBoxFrame"
        title="Default value is 1, initial value is 1. Modify it to change the shrink ratio of the items. Items don't shrink bellow their initial size by default, set min-width for this"
        >flex-shrink<sup>2</sup>
    </a>
    &nbsp;<span>|</span>&nbsp;
    <a 
        href="flexbox/flex-basis.html" 
        target="flexBoxFrame" 
        title="Sets the initial width of the item. Use % for the items to shrink and expand proportionally."
        >flex-basis<sup>2</sup>
    </a>
    &nbsp;<span>|</span>&nbsp;
    <a
        href="flexbox/align-self.html"
        target="flexBoxFrame"
        title="Overrides 'align-items' property to align the item on the cross axis. Use 'stretch' to get the item to be as high as its parent."
        >align-self<sup>2</sup>
    </a>

    <fig>
        <iframe src="flexbox/justify-content.html" name="flexBoxFrame" width=95% height=300px></iframe>
        <figcaption>
            <sup>1</sup> applies on the container.<br>
            <sup>2</sup> applies on the item.
        </figcaption>
    </fig>

    <p>Note it is also possible to nest flex containers inside each other which makes the children flex content to behave as flex items on their own.</p>

    <p>The <code class="blue">flex</code><sup>2</sup> property allows to set <code>flex</code>, <code>shrink</code> and <code>basis</code> in short notation. Similarly, the <code class="blue">flex-flow</code><sup>1</sup> property allows you to set
        <code>direction</code> and <code>wrap</code> in short notation:</p>
    <div class="code"><span class="brown">item</span> {<br>&nbsp;<span class="blue"> flex</span>: 1 2 100px;<br>&nbsp; <span class="blue">flex-flow</span>: column wrap;<br>}</div>
</section>

<section id="bootstrap">
    <h2>Bootstrap</h2>
    <p>To get boostrap to work, <code>jQuery</code>, <code>Popper.js</code> and <code>bootstrap</code>'s own libraries must be loaded (in that order).</p>

    <p>Bootstrap is made of three main elements nested inside eachother: container, row and column (col).</p>

    <img src="/static/Images/boostrap-nesting-diagram.svg" alt="Bootstrap's element nesting diagram.">
    <p>In the image above yellow is a container, orange is row and purple boxes are columns.</p>
    <p>A <code>div</code> with a class of <code>container</code> has a width relative to the users screen, is horizontally centered and has left and right margins. If you want your container to use the entire screen's width, set it to <code>container-fluid</code> instead. Likewise, <code>row</code>s have margins and <code>row-fluid</code>s take up the entire width of their container. On the other hand, <code>col</code>s take up the entire width of their containing row by default.</p>

    <h3>Twelve columns</h3>
    <p>A row can take up to 12 columns. This means that a row has a width of 12 cols. This allows the width of the individual columns to be set by giving them a class of <code>col-n</code> where 'n' is the number of cols we want our columns width to be. In other words, <code>col-n</code> will be ((row's width) / 12) * n pixels wide. To have the content of a column determine its width, use <code>col-auto</code></p>

    <h3>Breakpoints</h3>
    <p>Bootstrap has 5 breakpoints for screen sizes: extra small, small (sm), medium (md), large (lg) and extra large (xl). This allows us to specify column's width for specific screen sizes by naming our columns <code>col-&lt;breakpoint&gt;-&lt;size&gt;</code> which bootstrap interprets as: make this column <code>size</code> wide for screens of size <code>breakpoint</code> and above (for smaller screens, the size will be default). Omit the breakpoint to have your column take the specified size on all screen sizes. Elements can be given multiple classes to set their size at every breakpoint.</p>

    
</section>
{% endblock %}