{% extends "layout.html" %}

{% block main %}
<section id="intro">
    <h2>Introduction</h2>
    <p>Java is an object oriented programming language. All Java programs contain at least one class and it's name must match the name of the file. Every Java program must contain a method called <code>main</code> that contains the instructions for the program. Comments syntax is the same than JavaScript: // for singe line and /* ... */ for multiline.<br>
    Java does not interpret whitespace and statements are terminated with semicolons ';'.</p>

    <h2>Compiling java programs</h2>
    <p>We dont need to worry about compiling programs because the machine will do it for us but if you still want to compile something run <code>javac fileName.java</code> and a filename.class will be created (I think this is a bytecode file, or something like that). This file can then be run using <code>java fileName</code>.</p>

    <h2>Data types and variable declaration</h2>
    <p>Variable names start with a letter, <code>$</code> or underscore. For declaring variables we need to specify what data type they are: </p>
    <div class="code">
        <span class="brown">int age</span> = <span class="darkRed">27</span>;
    </div>
    <p>Data types are:
        <ul>
        <li><code>int</code>: integers.</li>
        <li><code>double</code>: decimals.</li>
        <li><code>boolean</code>: true / false (lowercase).</li>
        <li><code>char</code>: holds single characters surounded by single quotes. 'A'.</li>
        <li><code>String</code>: strings (note the capital S).</li>

        </ul>
    </p>

    <h3>String methods</h3>
    <ul>
        <li><code>.length()</code> returns the number of characters.</li>
        <li><code>str1.concat(str2)</code> joins the strings together, but you can also do <code>str1 + str2</code>.</li>
        <li><code>str.indexOf(substring)</code> returns the index of the substring or -1 if not found.</li>
        <li><code>.charAt(index)</code> returns the character at the spexified index.</li>
        <li><code>.substring(start, end)</code> returns the substring between start and end-1, omit second argument to go till the  end.</li>
        <li><code>.toUpperCase()</code> returns the string in <code>UPERCASE</code>. Does not modify original string.</li>
        <LI><code>.toLowerCase()</code> returns the string in <code>lowercase</code>. Does not modify oringinal string.</LI>
    </ul>

    <h3>Arrays</h3>
    <p>Arrays do everything we expect them to do. They can store all data types and other objects; but this is Java, remember? and that means all elements in an array have to be of the same data type and it's size is fixed. To declare an array use:  <br>
    <code>type[] varName = {value<sub>1</sub>, value<sub>2</sub>, ... , value<sub>n</sub>};
    </code><br>
    When working with arrays, import the Arrays package at the top of the file to get access to methods like <code>Arrays.toString()</code> which prints out arrays in human readable format: <code>import java.util.Arrays;</code><br>
    To access an element in an array by index use the good old square bracket syntax: <code>type elementOne = array[1];</code><br>
    <br>
    To initialize an empty array, we have to set it's size: <br>
    <code>type arrayName = new type[size];</code><br>
    Where <code>size </code>is an integer.<br>
    <br>
    Arrays are objects and they have a property called length that stores magic spells (no, it's length).
    </p>

    <h3>Array Lists</h3>
    <p>Arrays hvave a fixed length, which means you can't add or remove elements from them. Luckily, there exists the ArrayList, which is exactly the same but without a fixed length.<br>
    To use them first we have to <code>import java.utils.ArrayList</code> them
    </p>
    <div class="code">
        <span class="blue">ArrayList</span>&lt;<span class="brown">String</span>&gt;<span class="brown"> myArrayList</span> = <span class="blue">new</span> <span class="brown">ArrayList</span>&lt;<span class="brown">String</span>&gt;();<br>
        <br>
        <span class="brown">myArrayList</span>.<span class="brown">add</span>(stuff);<br>
        <span class="black">&gt;&gt; Adds stuff to the end of the Array List.</span><br>
        <br>
        <span class="brown">myArrayList.size</span>();<br>
        <span class="black">&gt;&gt; Returns the size of the Arra List.</span><br>
        <br>
        <span class="brown">myArrayList.get</span>(index);<br>
        <span class="black">&gt;&gt; Returns the element at index.</span><br>
        <br>
        <span class="brown">myArrayList.set</span>(index, newValue);<br>
        <span class="black">&gt;&gt; Rewrites the element at index to be newValue.</span><br>
        <br>
        <span class="brown">myArrayList.remove</span>(element);<br>
        <span class="black">&gt;&gt; Removes the first instance of element.</span><br>
        <br>
        <span class="brown">myArrayList.indexOf</span>(element);<br>
        <span class="black">&gt;&gt; Returns the index of element.</span><br>
        <br>
        <br>
        <span class="red">Note: for some Java reason, when creating ArrayLists made of chars, ints, or doubles, we have to write <code>Char</code>, <code>Integer</code>, or <code>Double</code> instead of <code>String</code>.<br>
        Note 2: I hope this all makes sense some day.</span>
    </div>

    <h2>Embeding variables into strings</h2>
    <div class="code">
        <span class="orange">"Use this syntax to parse "</span>+<span class="brown">variableName</span>+<span class="orange">" into Strings".</span>
    </div>
    <p>If you look closely you'll see that we're only concatenating strings. You can also use numbers, Java can handle that.</p>

    <h2>Comparing objects</h2>
    <p>Use the object's built in method <code>equals</code> to compare two objects (Strings are objects). So, <code>strinig1.equals(string2)</code> returns <code>true </code>if the strings are equal. Cool, hey?</p>

    </section>

    <section id="classes">
        <h2>A Java's Class general structure</h2>
        <p>Take a look at the basic structure of a class. It's not very different to javascript and PHP:

        <img src="Images/java-basic-structure.jpg" height="600px"><br>
        <ul><span style="text-decoration: underline">Notes</span>:
        <li>
            <code>String[] args</code> is an array of strings containing the parameters we pass on to the program when running the class file from the terminal.
        </li>
        <li>
            The keyword <code>public</code> is the <em>access modifier</em>. Set it to <code>private</code> for the method to be accesible only by the class it is defined in, <code>protected</code> to allow access to child classes or <code>public</code> for it to be accessed by anyone.
        </li>
        <li>
            Instances of a class are created by calling the constructor within the <code>main</code> method.
            </li>
        <li>
            <strong><code>Void</code></strong> means that the method won't return any values. If the method   is meant to return something, specify the data type returned instead of <code>void</code>.
            </li>
        <li>
            Define a method called <code>toString()</code> that returns a description of the class. Java will call it if we do <code>System.out.println(myClass)</code>.
            </li>
        </ul>
        </p>

        <h2>Inheritance</h2>
        <p>Use the keyword <code>extends</code> to create a subclass. Inside the subclass' constructor method, the built-in <code>super()</code> method acts as the parent's constructor.<br>
        Use the <code>final</code> keyword before the access modifier in a parent's class method to avoid any child classes overriding that method.<br>
        To override a method, use the <code>@Override</code> keyword in the line before the method to override. Also note it needs to have the same return type and same number and type of parameters.<br>
        Child class instances can be used where parent class objects are expected. This means different type of objects can go in an array as far as they belong to the same family.
    </p>

    </section>

    <section id="control-flow">
        <h2>Control flow</h2>
        <h3>If ... else</h3>
        <img src="Images/java-control-flow.jpg" height="450px">
        <h3>Switch</h3>
        <img src="Images/java-switch.jpg" height="450px">

        <h3>Logical operators</h3>
        <p><ul>
            <li><code>&&</code>: and.</li>
            <li><code>||</code>: or.</li>
            <li><code>!</code>: not. </li>
        </ul></p>

        <h2>Loops</h2>
        <h3>While</h3>
        <div class="code">
            <span class="blue">while</span> (condition) {<br>
            &nbsp; <span class="black">// Code block</span><br>
            }
        </div>

        <h3>For </h3>
        <div class="code">
                <span class="blue">for </span>(int counter = 1; counter &lt; 10; counter++) {<br>
                &nbsp; <span class="black">// Code block</span><br>}
        </div>

        <h3>For each</h3>
        <p>For each loops allow you to iterate through the elements in a Array or Array List</p>
        <div class="code">
            <span class="blue">for </span>(type element : array) {<br>
            &nbsp; // Code block<br>}
        </div>

        <h3>Try... catch</h3>
        <img src="Images/java-try-catch.jpg" alt="Try catch syntax.">
            
    </section>
{% endblock %}