<!DOCTYPE html>
<html lang="en">

<head>
    <title>Cheat Sheet</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--script src="/static/script.js"></script-->
    <!--script src="../Resources/Libraries/jquery-3.5.0.js"></script-->

    <link rel="stylesheet" type="text/css" href="/static/libraries/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/styles.css">

</head>

<body class="container-fluid">
    <header>

        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
              <button 
                aria-controls="internal-nav"
                class="btn btn-outline-light d-lg-none" 
                data-bs-target="#internal-nav" 
                data-bs-toggle="offcanvas" 
                type="button" 
                >
                <svg 
                class="bi"
                width="22"
                height="22"
                role="img" 
                aria-label="Open internal navigation">
                 <use xlink:href="/static/libraries/css/bootstrap-icons.svg#chevron-right"/>
                 </svg>
              </button>
              <a class="navbar-brand" href="#">Cheat Sheet</a>
              <button 
                aria-controls="nav-links"
                aria-expanded="false"
                aria-label="Toggle navigation"
                class="navbar-toggler" 
                data-bs-target="#nav-links"
                data-bs-toggle="collapse"
                type="button"
                >
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse justify-content-end" id="nav-links">
                <div class="navbar-nav">
                {% for lang in languages %}
                    <a class="nav-link" href="/{{ lang }}.html">{{ lang }}</a>
                {% endfor %}
                </div>
              </div>
            </div>
          </nav>

    </header>

    <div class="row">
      {% if sections %}
      <nav id="internal-nav" class="offcanvas-lg offcanvas-start col-3 order-2 text-muted mt-4" tabindex="-1" aria-label="Internal navigation">

        <div class="offcanvas-header">
          <h5 class="offcanvas-title">On this page</h5>
          <hr>
          <button 
          type="button" 
          class="btn-close" 
          data-bs-dismiss="offcanvas" 
          data-bs-target="#internal-nav"
          aria-label="close">
        </button>
        </div>

        <div class="offcanvas-body flex-column">
          <h5 class="d-none d-lg-block text-muted">On this page</h5>
          <hr>
        <ul class="nav flex-column justify-content-start">
        {% for section in sections %}
          <li class="nav-item">
            <a class="nav-link" href="#{{ section.id }}">{{ section.name }}</a>
            <div class="underliner"></div>
          </li>
        {% endfor %}
        </ul>
      </div>

    </nav>
    {% endif %}

      <main 
        class="col order-1" 
        data-bs-spy="scroll" 
        data-bs-target="#internal-nav" 
        tabindex="0">
          {% block main %}
          {% endblock %}
      </main>
  </div>
  <script src="../static/libraries/js/bootstrap.bundle.js"></script>
</body>