{% extends "layout.html" %}

{% block main %}
<section id="intro">
<h2>It's good to know</h2>
<p>Php can be written inline within html documents. The start of a php line looks like this: <code>&lt;? php command</code> and the end of it looks like this: <code>?&gt;</code>. Php <em>statements</em> are terminated in a semicolon (;).<br>
Comments can be written the same way as in JavaScript. Use "//" for inline comments and "/* ... */" for multiline comments.</p>

<p>The <code>&lt;?php echo "..." ?&gt;</code> command can be writen in the short form: <code>&lt;?= "..." ?&gt;</code></p>

<h3>Where does php run?</h3>
<p>Php can be written into html files and interpreted by browsers but it can also be run on a terminal. Write your php file starting with <code>&lt;?php</code> but leave out the closing tag.</p>

<p>
  It is also posibble to run the code using the system's built in web server:
</p>
<script src="https://gist.github.com/alvarezrrj/46f8b66419ee21686d50b4f3fbce0e39.js"></script>

<h3>Importing files</h3>
<p>Use <code>include "filepath.php"</code> to import things.</p>

<h3>Execute shell commands</h3>
<p>In PHP, there is the Execution Operator: backticks(``). PHP will attempt to execute the contents of the backtics as a shell command and return the output.</p>
</section>

<section id="types">
<h2>Data Types</h2>
<h3>Strings</h3>
<p>See all different types of strings in <a href="https://www.php.net/manual/en/language.types.string.php">the docs</a>. <br>
Strings are wrapped in double quotes and to include quotes inside a string we have to use the escape sequence \", or use a single quote.</p>

<h3>String concatenation</h3>
<p>Use the <em>concatenation operator</em> (.) to join strings together. The code <code>echo "Hola" . "perro"</code> outputs <code>Holaperro</code>.</p>

<h4>Multi-line strings</h4>
<p>
    See the reference for multi-line strings <a href="https://www.php.net/manual/en/language.types.string.php#language.types.string.syntax.heredoc">here</a>.
</p>

<script src="https://gist.github.com/alvarezrrj/6c0d86f02b119348244fbabd23be2054.js"></script>

<h3>Variable assignment</h3>
<p>Declare a variable using the following sintax: </p>
<script src="https://gist.github.com/alvarezrrj/8aa34fe2b1db2799ca240ccae5340476.js"></script>

<p>Variable names can contain letters, numbers and underscores but cannot start with a number.<br>
To call a variable's value, use the dollar sign and variable's name: <code>echo <span class="brown">$my_var</span></code> prints "Saratustra".</p>

<p>In other languages it is possible to grab a variable's value, perform an operation on it and reassign it to the same variable by doing something like <code>+=</code>. The same is possible on Php when working with numbers, for strings, use <code>.=</code> to concatenate a new string into a variable.</p>

<h3>Assignment by reference, alias alias</h3>
<p>Use the syntax <code>$var2 =& $var1</code> to create an alias for a variable, that is, $var2 points at the same space in memory as $var1.</p>

<h3>Variable Parsing</h3>
<p>Double quoted strings allow you to throw variables at them and they will be parsed as the value they contain. Use curly braces if you need to modify the resulting  string. Let's take a look:</p>
<script src="https://gist.github.com/alvarezrrj/76e379c68798376c612d87c166780cf9.js"></script>

<h3>Superglobals and form handling</h3>
<p>Superglobals are variables that are related to https requests (I think) and are available in all scopes within the php script:</p>
<ul>
<li>$GLOBALS</li>
<li>$_SERVER</li>
<li>$_GET
<p>Contains an associative array of the query parameters in the URL.<br>
When setting the HTML's form <code>method</code> attribute to "get", the form entries will be sent to the server in the URL query string.</p></li>
<li>$_POST
<p>Contains an asoociative array with the variables in a form sent to the server via a POST method.<br>
When setting the forms <code>method</code> attribute to "post", the form data will be sent in the request's headers</p>
</li>
<li>$_FILES
  <p>
    Contains files sent using a <code>&lt;input type="file"&gt;</code> in a <code>&lt;form enctype="multipart/form-data"&gt;</code>. Use <code>move_uploaded_file($_FILE['name']['tmp_name'], 'path/to/new/destination')</code> to move the file from the temporary location PHP gave it (<code>name</code> is the value of the <code>name</code> attribute on the form's <code>input</code> element).
  </p>
</li>
<li>$_COOKIE</li>
<li>$_SESSION</li>
<li>$_REQUEST
<p>Cotains the contents of $_GET, $_POST, and $_COOKIE.</p>
</li>
<li>$_ENV</li>
</ul>

<p>A forms <code>action</code> attribute accepts a link as a parameter and redirects the user to it when the submit button is pressed.</p>

<h3>Type declaration</h3>
<p>
  Although PHP is a loosely typed language, type declarations can be added to function arguments, return values and classs properties. Check the <a href="https://www.php.net/manual/en/language.types.declarations.php">reference</a> for allowed types.
</p>

</section>

<section id="sessions">
  <h2>Sessions</h2>
  <p>
    Sessions are stored on the server. We might learn some more about this some day. This is what we have so far:
  </p>
  <script src="https://gist.github.com/alvarezrrj/a2cfa3503cad800176d1fb6408f51745.js"></script>

  <h3>Cookies</h3>
  <p>
    Cookies are stored on the client.
  </p>
  <script src="https://gist.github.com/alvarezrrj/f6d9e0220228e0f0008d15980fd58a6b.js"></script>
</section>

<section id="functions">
<h2>Functions</h2>
<p>Defining functions looks very much like JavaScript: </p>
<script src="https://gist.github.com/alvarezrrj/71e73b6c0d5a6955d759b30230ce4244.js"></script>

<p>Defining functions with default parameters looks just like python (and probably js too).</p>

<p>A note on conventions: variable names are ususally <code>snake_cased</code> and function names are <code>camelCased</code>.</p>
</section>

<section id="built-in-functions">
<table class="table table-striped table-secondary">
<tr>
    <th>Type</th>
    <th>Function</th>
    <th>Notes</th>
</tr>
<tr>
    <th rowspan="10">Strings</th>
    <td>strrev($string)</td>
    <td>Returns the string reversed.</td>
</tr>
<tr>
    <td>strtolower($string)</td>
    <td>Returns the string in lower case.</td>
</tr>
<tr>
    <td>str_repeat($string, x)</td>
    <td>Returns the string repeated x times.</td>
</tr>
<tr>
    <td>substr_count($string, $substring)</td>
    <td>Returns the amount of times the substring appears in the string.</td>
</tr>
<td>strlen($string)</td>
<td>Returns the length of the given string.</td>
<tr>
    <td>htmlspecialchars($string)</td>
    <td>Turns html characters into non html ones.</td>
</tr>
<tr>
    <td>filter_var($variable, $id [, ['options' => $options]])</td>
    <td>Filters out variables like emails and can also do URL encoding. See the reference <a href="https://www.php.net/manual/en/filter.filters.sanitize.php">here</a>. It can also be used to validate things like emails. Options is an associative_array; check the posibilities in the docs.</td>
</tr>
<tr>
    <td>preg_match($pattern, $string)</td>
    <td>Checks the string against the regular expression ($pattern) and returns 1 if it matches, 0 if it doesn't and FALSE if there is an error.</td>
</tr>
<tr>
    <td>preg_replace($pattern, $replacement, $string)</td>
    <td>It replaces the matching pattern with the given string. Usefulf for turning differently formatted versions of a piece of data to a single format. Tip: match the elements you don't want in your string and replace them with an empty string.</td>
</tr>
<tr>
  <td>explode(string $separator, string $string)</td>
  <td>Returns an array of strings, each of which is a substring of <code>$string</code></td>
</tr>
<tr>
    <th rowspan="3">Numbers</th>
    <td>abs($number)</td>
    <td>Returns the absolute value of $number (|$number|).</td>
</tr>
<tr>
    <td>round($number)</td>
    <td>Returns the closest integer (rounds up for .5)</td>
</tr>
<tr>
    <td>rand(x, y)</td>
    <td>Returns a random number between x and y (inclussively). If the parameters are ommited, will return a number between 0 and the largest number the current environment will allow.</td>
</tr>
<tr>
    <th rowspan="9">Arrays</th>
    <td>count($array)</td>
    <td>Returns the number of elements in the array.</td>
</tr>
<tr>
    <td>print_r($array)</td>
    <td>prints out arrays in human readable format showing indexes.</td>
</tr>
<tr>
    <td>implode($string, $array)</td>
    <td>Turns the array into a string, joining the elements using the given string.</td>
</tr>
<tr>
    <td>array_pop($array)</td>
    <td>Returns the last element of the array and deletes it from the array.</td>
</tr>
<tr>
    <td>array_push($array, a, b, ... , n)</td>
    <td>Adds the given elements to the end of the array and returns the new array size.</td>
</tr>
<tr>
    <td>array_shift($array)</td>
    <td>Removes the first element of the array and returns it's value.</td>
</tr>
<tr>
    <td>array_unshift($array, a, b, ... , n</td>
    <td>Adds the given elements to the beginning of the array and returns the new array size.</td>
</tr>
<tr>
    <td>unset($array[index])</td>
    <td>Removes the element in that index. <span class="red">Note: this doesn't shift the indexes of the elements after the removed element. Better leave this function for key=> value pairs only.</span></td>
</tr>
<tr>
    <td>in_array($element, $array [, bool $strict = FALSE])</td>
    <td>Returns true if the element is in the array. Uses loose comparison unless strict is set to TRUE.  </td>
</tr>


</table>
</section>

<section id="data-structures">
    <h2>Data Structures</h2>
    <h3>Arrays</h3>
    <p>Arrays are created with the <code>array(a, b, ... , n)</code> function, where the arguments passed to it become the elements of the array in the given order.<br>
    Or we can just use the good old square brackets wrapping the comma separated values (just like JS, nothing new here). Should have mentioned this first, huh?.<br>
    Accessing and reassigning elements of an array is done just like in any other language: <code>$array[index] = 'new value';</code>.<br>
    Push new elements into an array with this siyntax: <code>$array[] = 'new element';</code>, or using the <code>array_push()</code> function.
</p>

    <h3>Associative arrays, aka key=>value pairs.</h3>
    <p>
        To create a key=>value pair use this syntax: <code>$my_array = [key1 => value1, key2 => value2, ... , keyn => valuen]</code>. Or use the <code>Array()</code> function and pass the key=>value pairs with the same notaion. Keys can be strings or integers.<br>
        Note that php's arrays are actually key:value pairs where the keys are integers starting in 0, which means that all built-in functions for Arrays work with this motherfuckers too.<br>
        Join two arrays together by simply adding them: <code>$array1 + $array2</code> and php will grab all the unique keys from the second array and push them into the first one.
    </p>

</section>

<section id="conditionals">
    <h2>Conditionals</h2>
    <h3><b>If</b> Statement</h3>
    <script src="https://gist.github.com/alvarezrrj/ef6cec4eeb6fefc491241c1ae4a91e44.js"></script>

    <p>Just like in JavaScript, PHP has an <em>identical operator</em>: <code>===</code> and an <em>equal operator</em>: <code>==</code>.</p>

    <h3><b>Switch</b> statement</h3>
    <p>The syntax is the same as JS:</p>
    <script src="https://gist.github.com/alvarezrrj/9e06a9b660ccac739fa1a6dd57ae83a8.js"></script>

    <h3><b>Ternary</b> operator</h3>
    <script src="https://gist.github.com/alvarezrrj/9680970cac455f43ec1641b930aefcde.js"></script>

    <h3>Truthy and Falsy</h3>
    <p>Nothing new here. Falsy variables are:
        <ul>
            <li>Empty strings</li>
            <li>"0"</li>
            <li>Undefined or undeclared variables</li>
            <li>Empty arrays</li>
            <li>Number 0</li>
            <li><code>null</code></li>
            <li><code>false</code></li>
        </ul>
    </p>

    <h3>Logical Operators</h3>
    <p>
        <ul>
            <li><code>&&, and</code>: and</li>
            <li><code>||, or</code>: or</li>
            <li><code>!</code>: not</li>
            <li><code>xor</code>: returns true if A or B is TRUE but not both</li>
        </ul>
        The <code>&&</code> operator has a higher <em>operator precedence</em> than the <code>||</code> operator. Which means that in a complex operation including them both, the computer will evaluate it first. Use parenthesis to force a diferent order of opeeration.<br>
        The operators <code>and, or</code> have lower precedence than <code>&&</code> and <code>||</code>.
    </p>

    <p>The built in <code>isset($var)</code> function checks if a variable is declared and is different than NULL. Returns a boolean value.</p>
</section>

<section id="user-input">
    <h2>User input</h2>
    <p>The <code>readline()</code>built-in function takes a string argument (to ptompt the user) and returns the user's input.</p>
    </section>

<section id="loops">
    <h2>Loops</h2>
    <p><ul>
        <li><code>While (condition){code block}</code></li>
        <li><code>do {code block} while (condition)</code></li>
        <li><code>for (counter = 0; condition; counter++) {code block}</code></li>
        <li><code>foreach($array as $element){code block} //Iterates through arrays and $elements takes the values of the elements in the array succesively.</code><br>
        In associative arrays, $element will be the value, not the key. Use:<br>
    <code>foreach($associative_array as $key => $value) {code block} //To access both keys and values.</code></li>
    </ul>
    Use <code>break</code> and <code>continue</code> to stop the loop and skip current iteration respectivelly.<br>

    Sometimes, and for some reason we might want to do some funny shit with our for loops: We can get rid of the brackets surrounding the code block and use a colon (:) instead of the opening bracket and <code>endfor; / endwhile; / endforeach;</code> (remember the semicolon [;]) instead of the closing one. Fuck knows when and why this will become usefull.
</p>

</section>

<section id="form-validation">
    <h2>Form Validation</h2>
    <p><strong>Always</strong> validate form data on the server side to avoid people from beeing cunts. It is possible to modify the data sent on a form after it is sent but before it arrives on the server. So be careful and re-validate all data once it arrives, also, people can't see what we are doing on the server and that makes it harder for them to bypass our tests.</p>

    <h3>Data Sanitazing</h3>
    <p>Any time we are displaying data introduced by the user back to them, it's a good idea to use the built-in function <code>htmlspecialchars($data)</code> which turns any html elements into special characters so that the php interpreter does not recognzie them as html. This is to protect your users against man-in-the-middle attacks in which things like <code>&lt;a href="http://data_stealing_website.scam"&gt;Your account has been compromised, click here to get sorted!&lt;/a&gt;</code> can be added to the user's input.</p>

    <p>Another useful function is filter_var($variable, $id). Where $variable is what we want to filter and $id specifies the type of data we want to sanitize. Check out all filter types <a href="https://www.php.net/manual/en/filter.filters.sanitize.php">here</a>.</p>

    <h3>Password Hashing</h3>
    <p>
      Passwords cannot be stored as is on databases, they need to be encrypted. Use:
    </p>
    <script src="https://gist.github.com/alvarezrrj/74ed30c759c41d6186db49b3ffa61a47.js"></script>
    <p>
      Where <code>$algo</code> is the encrypting algorithm to use. Use  <code>PASSWORD_DEFAULT</code> which is the default algorithm and changes over time as new and stronger options are added to PHP. Store the result in a database column that can store up to 255 chars to allow room for these changes. <code>$options</code> can be ommited for default options.
    </p>

    <p>You can then verify an incoming password against the hash with:</p>
    <script src="https://gist.github.com/alvarezrrj/f1e5169cd1e28f192a0a6f0a28fec44a.js"></script>

    <h3>Rerouting</h3>
    <p>After a succesful form validation, we usually want to redirect the user to a new page. For this we use the <code>header("Location: $url")</code> function. Remember that this function needs to be called before anything gets output by the script, even empty lines like the ones produced by <code>include</code> or <code>require</code> functions. For this reason the function needs to go right at the top of the file. Inmediately after the call to <code>header()</code> use the <code>exit</code> keyword to terminate the current script. TAke a look at the <a herf="https://www.php.net/manual/en/function.header.php">docs</a>.</p>
</section>

<section id="regular-expressions">
    <h2>Regular Expressions</h2>
    <p>A<b> literal</b> is a regular expression that contains the exact text that we want to match.</p>
    
    <p><b>Alternation</b> allows you to match either of two expressions using <code>this|that</code>. It acts like an OR logical operator and in this case it will match 'this' OR 'that'. Remember it matches the hole expression before or after the operator: <code>I like this|that</code> will match 'I like this' but not 'I like that', it will only match 'that'. Enter <b>grouping</b>. Grouping allows you to limit the scope of the alternator to the options within the group. <code>I like (this|that)</code> will match 'I like this' and 'I like that'.</p>

    <p><b>Character sets</b>, denoted with square brackets, match one character from a series of characters. <code>ban[ao]na</code> will match both 'banana' and 'banona'. The regex <code>[cat]</code> will match the letters c, a and t but not the text 'cat'.<br>
    Placing a caret (<code>^</code>) symbol before a character set will <i>negate</i> the set and match any character that is <b>not</b> in the set. [^cat] will match anything that is neither 'c', 'a', or 't'.<br>
    Within a character set we can use <b>ranges</b> instead of typing all the characters. Use <code>[a-c]</code> to match either 'a', 'b', or 'c'. You can also insert many ranges in one character set: <code>[A-Za-z]</code> will match any letter either uppercase or lowercase.
    </p>

    <p><b>Wildcards</b> (.) will match <b>any</b> character, even whitespace.</p>

    <p><b>Shorthand character classes </b>allow us to write frequent ranges in a shorter and faster way:
    <ul>
        <li>\w: "word" class represents the [A-Za-z0-9_] regex and matches any uppercase character, lowercase character, digit or underscore. Use <code>\W</code> for non-word characters.</li>
        <li>\d: "digit" class represents the [0-9] regex. It matches any number. Use <code>\D</code> for non-digit characters.</li>
        <li>\s: "whitespace" class represents the [t\r\n\f\v] regex and matches single space, tab, carriage return (whatever that is), line break, form feed or vertical tab. Use <Code>\S</Code> for non-whitespace characters.</li>
    </ul>
    </p>

    <p><b>Quantifiers</b> allow us to denote the quantity of a character we want to match: <code>\w{3}</code> will match any 3 word character words and <code>\w{3,8}</code> will match any 3 to 8 word character words.</p>

    <p>The <b>optional quantifier</b> (<Code>?</Code>) allows you to indicate that the character before it may appear 0 or 1 times (it's optional, right?). Use grouping to get the quantifier to apply to multiple characters.</p>

    <figure>
      <figcaption>
        <cite>by ChatGTP</cite>
      </figcaption>
    <blockquote>
      The '?' quantifier is a non-greedy quantifier, which means it will match as few characters as possible. When used in combination with other quantifiers, such as '*' or '+', it makes the regular expression stop at the first occurrence of the next character or pattern, rather than matching as many characters as possible.
    </blockquote>

  </figure>

    <p>The <strong>Kleene star</strong> (Did you know? Stephen Kleene invented this regex stuff)(<code>*</code>) is the ultimate quantifier. It matches the character preceding it 0, 1 or multiple times. And the <strong>Knleene plus</strong> (<code>+</code>) matches the character 1 or more times.</p>

    <p><b>Anchors</b> allow you to ensure the matched text begins and ends exactly as you state it. The hat (<code>^</code>) and dollar sign (<code>$</code>) allow you to match text at the beginning and end of a string respectivelly.</p>

</section>

<section id="classes">
    <h2>Classes</h2>
    <p>
      Classes are defined and instantiated the same way they are in javaScript: 
    </p>
    <script src="https://gist.github.com/alvarezrrj/4777950b70ffb19254b5f1d3417b1a21.js"></script>
    
    <h3>Inhrtitance</h3>
    <p>
      Subclasses can be defined using the keyword <code>extends</code>. Nothing new here.<br>
      Within a subclass we can overwrite a parent method by simply redefining it and we can call parent methods using
      <code>parent::methodName()</code>
    </p>
    <script src="https://gist.github.com/alvarezrrj/75b41e54da02d44de6be158907321b8c.js"></script>

    <h3>Traits</h3>
    <p>
      Traits are like classes, but only intended to group functionality. It is not possible to instantiate a <code>trait</code> on its own. The <code>this</code>, <code>self</code> and <code>parent</code> keywords used inside a trait refer to the same things they would if they were used directly in the class that <code>use</code>s the <code>trait</code>.
    </p>
    <script src="https://gist.github.com/alvarezrrj/eff5a491358b46fbd10b001c508cb2f9.js"></script>

    <h3>Autoloading</h3>
    <script src="https://gist.github.com/alvarezrrj/7576c9fcb4719a5543da459875f11cb0.js"></script>
    <p>
      In the example above, when you call <code>new MyClass();</code>, PHP will pass the name of the class to the autoloader registered with <code>spl_autoload_register</code> if the class ins not yet defined and load the class on the fly. This way you don't have to load every single class manually. Just keep all your class files in a separate folder (<code>/path/to/classes</code>) and name them exactly as the class they contain. PHP will do the loading as and when it's needed.
    </p>

    <h3>Nullsafe operator (optional chaining operator)</h3>
    <p>
      Use the <code>?-></code> operator to check whether the thing to the left of the question mark is null before trying to access the things to the right.
    </p>
    <p>
      For arrays, the <strong>Null coalescing operator</strong> (<code>??</code>) can be used, which returns the thing on the left if it is set and not null or the thing on the right otherwise.
    </p>
    <script src="https://gist.github.com/alvarezrrj/3d3972162ce3bf54585bdf603c495fc3.js"></script>

</section>

<section id="namespaces">
  <h2>Namespaces</h2>
  <p>
    Declare a namespace by using the <code>namespace</code> keyword at the top of your file and use a backslash as the namespace separator. You can then alias a namespace with the <code>use</code> keyword. Just remember the <code>use</code> statement doesn't import files, you have to <code>include()</code> or <code>require</code> them.
  </p>
  <script src="https://gist.github.com/alvarezrrj/a489a3bfe3e054a199e445a55c1c7705.js"></script>
</section>

<section id="mvc">
  <h2>Model, View, Controller</h2>
  <p>
    On the MVC structure, the models' properties represent the data structures (entities on the database) and their methods contain db interaction functionality; views are the layouts and controllers contain logic and do the link between models and views.
  </p>

  <p>
    Controller classes are named &lt;modelName&gt;Controller. The overall structure of an MVC project is as follows:
  </p>
  <script src="https://gist.github.com/alvarezrrj/4ce1230f57741731f3bdb2a110973408.js"></script>

  <h3>Redirection</h3>
  <p>
    Using the above model, urls are quite ugly (with long query strings). Use an <code>.htaccess</code> file (located at the root directory of the project) to get apache to do cool stuff (make sure rewrite module is turned on).
  </p>
  <script src="https://gist.github.com/alvarezrrj/138974849846e52aa2b3a7437028fc53.js"></script>

  <h3>Enable .htaccess on Apache2</h3>
  <p>
    Use the following line to enable the rewrite module:
  </p>
  <script src="https://gist.github.com/alvarezrrj/56acb633377b2ca2474c725a622323a4.js"></script>

  <p>
    And then add the following code into <code>/etc/apache2/sites-available/000-default.conf</code> and <code>/etc/apache2/sites-available/default-ssl.conf</code> just above the <code>&lt;/VirtualHost&gt;</code> tag for apache to actually do the thing.
  </p>
  <script src="https://gist.github.com/alvarezrrj/f3637811e9476a42e481f5e9f08f8bad.js"></script>

</section>

<section id="laravel">
  <h2>Laravel</h2>
  <p>
    Create a Laravel project with:
  </p>
  <script src="https://gist.github.com/alvarezrrj/6daec396bd413bd6e846a26adbe9f1d1.js"></script>

  <h3>Routing</h3>
  <p>Routing looks pretty similar to Flask so far</p>
  <script src="https://gist.github.com/alvarezrrj/2c12ca837ac1b2ea963238e98eff9794.js"></script>

  <p>Passing parameters via the url looks like this:</p>
  <script src="https://gist.github.com/alvarezrrj/9055cc4015583a672be22ece27c6bbaa.js"></script>

  <h3>HTML Routing</h3>
  <script src="https://gist.github.com/alvarezrrj/b65d3f66b67c768f0293caa3e64610b1.js"></script>
  <p>
    Above 'spam.store' is the name of the route as it apperas on <code>php artisan route:list</code>
  </p>

  <h3>Redirection</h3>
  <p>
    Within a controller use<br>
    <code>redirect()->route('some.place');</code>
  </p>

  <h3>Resources</h3>
  <p>
    Use the command <br>
    <code>php artisan make:controller &lt;SpamController&gt; --resource</code><br>
    to create a controller with all CRUD actions predefined. And then use<br>
    <code>Route::resource('/spam', SpamController::class) to do the magic.</code><br>
    Chain the <code>->only(['action<sup>1</sup>', 'action<sup>2</sup>'])</code> method to the <code>resource()</code> function to only route into actions 1 and 2.
    
  </p>

  <h3>Blade Templating</h3>
  <p>Build your master page and make it look like this:</p>
  <script src="https://gist.github.com/alvarezrrj/85de4b6c698838f9ff26914fb5259cae.js"></script>

  <p>It can then be extended</p>
  <script src="https://gist.github.com/alvarezrrj/44ab2521eedce71bb2c7ba260b304c25.js"></script>
  <p>
    Now the page's title will be 'Bacon', the 'links' section will contain both styles.css and more-styles.css, the header will contain the default markup and main will contain only the stuff defined in page.blade.php

  </p>

  <h3>Middleware</h3>
  <p>
    Use: <br>
    <code>php artisan make:middleware CrispyBacon</code><br>
    Which will bang a CrispyBacon.php file into the Middleware folder inside Http.
  </p>

  <p>
    Then go into Kernel.php (inside Http) and add a line in <code>protected $routeMiddleware</code> to make it available
  </p>

  <p>
    You can then apply it to a controller with:<br>
    <code>Route::resource()->middleware(['cripsybacon', 'anotherMiddleware']);</code>
  </p>

  <p>
    Or you may choose to <a href="https://laravel.com/docs/9.x/controllers#controller-middleware">use it within the controller's constructor</a>
  </p>

</section>

{% endblock %}