{% extends "layout.html" %}

{% block main %}
<section id="functions">
  <h2>Functions</h2>
  <p>Define your functions like this broh:</p>
  <div class="code">
    <span class="blue">def</span> function_name (par<sub>1</sub>, par<sub>2</sub>, ... , par<sub>n</sub>):<br>
    &nbsp;<span class="blue">global</span> some_variable<br>
    &nbsp;<span class="black">#Code block (indented)</span><br>
    <span class="brown">The end of the indentation defines the end of the function. The <code>global</code> statement allows you to modify global variables within a function's body.</span>
  </div>
  <p class="red">Note: functions without a return statement (or with a plain return and no value) will return <code>None</code> which is python's only way of representing absence of value.</p>

  <p>If you want to define a default parameter, you can:</p>
  <div class="code">
      <span class="blue">def</span> function_name (par1, par_def=<span class="yellow">'Hola'</span>): <br>
      &nbsp; <span class="black">bla bla bla</span>
  </div>
  <p>When calling the function, if no value is passed for its second parameter, it will use the default. Note that required parameters need to be before parameter with a default argument in the function definition.<br>
  <span class="red">Note: Do not use mutable objects (lists, sets and dictionaries) as default arguments. Weird things will happen.</span></p>

  <h3>Return multiple values</h3>
  <p>Oh yes, your functions can return more than one thing, you just need to: <br>
  <code>return var<sub>1</sub>, var<sub>2</sub>, ... , var<sub>n</sub></code>.</p>
  <p>The question is: how do I access those things? well:<br>
  <code>var1, var2, varn = function_that_returns_n_things()</code><br>
  You can also store all the results in a single variable and python will make a list (or a set, I don't know, does it matter though?)
  </p>

  <h3>Accept multiple parameters</h3>
  <div class="code">
    <span class="blue">def some_function</span>(<span class="brown">param1</span>, <span class="brown">param2</span>, *<span class="brown">xParams</span>):<br>
    &nbsp; <span class="black">#Code block</span>
  </div>
  <p>This function can take from two to infinite parameters and xParams  will be treated as a list.</p>

  <p>When calling a function that takes <code>*</code> parameters, we can pass the arguments one by one:<br>
  <code>some_function(arg1, arg2, ... , argn)</code><br>
  or we can create a list and give it to the function like this:<br>
  <code>some_function(*listOfArgs)</code>
  
</p>
    
</section>

<section id="command-line-args">
  <h2>Command Line Arguments</h2>
  <p>To access command line arguments, import the <code>argv</code> list from the <code>sys</code> module.</p>

</section>

<section id="control-flow">
  <h2>Control Flow</h2>
  <h3>Logical operators</h3>
  <p><code>and</code>, <code>or</code> and <code>not</code>. Simple, plain.</p>

  <h3>Try ... except</h3>
  <div class="code">
    <span class="blue">try</span>:<br>
    &nbsp;<span class="black">#Code block</span><br>
    <span class="blue">except</span> <span class="orange">errorType</span>:<br>
    &nbsp;<span class="black">#errorType catching code</span><br>
    <span class="blue">except</span> <span class="green">Exception</span> as <span class="orange">error</span>:<br>
    &nbsp;<span class="black">#Any error catching code</span>
  </div>
  <p>The <code>except</code> block will run if an error of the type specified is <em>raised</em> during the <code>try </code>block. If the error type doesn't match, the last except clause will catch any error.</p>
</section>

<section id="lists">
  <h2>Lists (arrays)</h2>
  <p><code>[a, b, c, ... , n]</code> is a list, it can contain any data type, including lists. They are zero indexed and their items can be selected with <code>list[index]</code>. Use negative indexes to count backwards, with <code>-1</code> being the last index. Slice a list with <code>myList[i:n]</code>; returns the items from index <code>i</code> to <code> n-1</code>. Ommit <code>i</code> or <code>n</code> to start at the beginning or finish at the end respectively (you still need the colon). </p>

  <p>It is also possible to concatenate two lists by just adding them: <code>[a, b] + [c, d] = [a, b, c, d]</code></p>

  <p>You can assing the items of a list to variables by doing: <br>
    <code>var1, var2, ... , varn = myList</code><br>
    as far as myList contains <code>n</code>items.
  </p>

  <p>Items can be deleted with <code>del myList[i]</code> indexes of the items above the deleted item will be updated after the deletion.</p>

  <h3>Reference</h3>
  <p>A variable is never assigned a list value directly, instead, when assigning a list to a variable, it actually gets a reference to the list. This means that if two variables are assigned the same list, modifying one modifies the other. See page 97 of Automate The Boring Stuff With Python. <br>

  For mutable data types (lists ansd dictionaries) python assigns variables a reference to the value, for everything else variables store the value itself.<br>

  It is important to remember this when passing lists and dictionaries to functions as arguments. If the function modifies the argument, it will be modifying the global variable, since it was passed a reference to the value instead of a copy of the value (pp 100 ATBSWP). The copy module's copy() function allows you to copy a list in orther to assign it to a second variable without modifying the first one.
  </p>
</section>

<section id="sets">
  <h2>Sets</h2>
  <p>Sets are things that contain values with duplicates filtered out. The <code>set.add(element)</code> functon adds an element to the set only if it isn't already in it</p>
</section>

<section id="tuples">
  <h2>Tuples</h2>
  <p>These are almost identical to lists except in two ways: <br>
  <ul>
    <li>They are writen with braces () instead of square brackets [].</li>
    <li>They are <strong>immutable</strong>.
  </ul>
  </p>

<section id="useful-methods">
    <table>
        <caption>Some useful functions.</caption>
        <tr>
            <th>Type</th>
            <th>Functions</th>
            <th>Notes</th>
        </tr>
        <tr>
          <th rowspan="5">Built in functions</th>
          <td>str(var)</td>
          <td>Turns <code>var</code> into a string.</td>
        </tr>
        <tr>
          <td>type(var)</td>
          <td>Returns the data type.</td>
        </tr>
        <tr>
          <td>hasattr(object, atribute)</td>
          <td>Returns True if the <code>object</code> contains the <code>attribute</code>.</td>
        </tr>
        <tr>
          <td>getattr(object, attribute [, default])</td>
          <td>Returns the value of that attribute if it exists or <code>default</code> if it doesn't.</td>
        </tr>
        <tr>
          <td>dir(object)</td>
          <td>Returns a list of all attributes. Comes in handy to see all built in methods of an object.</td>
        </tr>
        <tr>
          <th rowspan="2">Sets</th>
          <td class="Sets">set()</td>
          <td>Initialize an empty set</td>
      </tr>
      <tr>
        <td>set.add(elem)</td>
        <td>Add <code>elem</code> to the set avoiding duplicates</td>
      </tr>
        <tr>
            <th rowspan="11">Lists</th>
            <td class="lists">zip(list<sub>1</sub>, list<sub>2</sub>)</td>
            <td>Merges the lists into an object.</td>
        </tr>
        <tr>
          <td>myList.index(item)</td>
          <td>Returns the index at which the item is. Raises a ValueError if the item is not in the list.</td>
        </tr>
        <tr>
          <td>myList.insert(index, item)</td>
            <td>Inserts the item at the given index. </td>
        </tr>
        <tr>
          <td>myList.append(data)</td>
          <td>Appends <code>data</code> to the end of the list.</td>
        </tr>
        <tr>
          <td>myList.remove(item)</td>
            <td>Removes the item. </td>
        </tr>
        <tr>
          <td>range(n, m, l)</td>
          <td>Creates a list containing consecutive numbers starting on <code>n</code> (starts on 0 if n is absent), increasing by a factor of <code>l</code>, and ending before <code>m</code></td>
        </tr>
        <tr>
          <td>len(myList)</td>
          <td>Returns the length (number of elements) in the list</td>
        </tr>
        <tr>
          <td>myList.count('a')</td>
          <td>Returns the amount of times 'a' appears in the list.</td>
        </tr>
        <tr>
          <td>myList.sort()</td>
          <td>Sorts <code>myList</code> alphabetically or numerically (modifies the original list)</td>
        </tr>
        <tr>
          <td>sorted(myList)</td>
          <td>Returns a sorted list (does not modify the original list)</td>
        </tr>
        <tr>
          <td>myList.pop()</td>
          <td>Returns the last element of a list and deletes it from the list</td>
        </tr>
        <tr>
          <th rowspan="9">Strings</th>
          <td>string.lower()</td>
          <td>Does what you expect.</td>
        </tr>
        <tr>
          <td>string.upper()</td>
          <td>Guess what.</td>
        </tr>
        <tr>
          <td>string.title()</td>
          <td>~ capitalize.</td>
        </tr>
        <tr>
          <td>string.split(delimiter)</td>
          <td>Returns a list of strings found between the delimiter. Use no argument to split at spaces.</td>
        </tr>
        <tr>
          <td>delimiter.join(listOfStrings)</td>
          <td>Joins the <code>listOfStrings</code> by the <code>delimiter</code>.</td>
        </tr>
        <tr>
          <td>string.strip('argument')</td>
          <td>Removes <code>argument</code>> from the string. Leave empty to remove whitespace.</td>
        </tr>
        <tr>
          <td>string.replace(old, new)</td>
          <td>Not rocket science.</td>
        </tr>
        <tr>
          <td>string.find('substring')</td>
          <td>Returns the index at which the substring is found.</td>
        </tr>
        <tr>
          <td>"This {} an {} string".format('is', 'example')</td>
          <td>Returns 'This is an example string'. You can pass the function as many arguments as curly braces there are in the string.</td>
        </tr>
        <tr>
          <th rowspan = "6">Objects</th>
          <td>object01.update(object02)</td>
          <td>Adds the key:value pairs in object02 to object01.</td>
        </tr>
        <tr>
          <td>object.get(key, default)</td>
          <td>Returns the value stored in that key or <code>default</code> if the key doesn't exist or <code>None </code>if the default parameter is ommited.</td>
        </tr>
        <tr>
          <td>object.pop(key, default)</td>
          <td>Same as above, but also deletes the key from the object.</td>
        </tr>
        <tr>
          <td>object.keys()</td>
          <td>Returns a list containing the object's keys.</td>
        </tr>
        <tr>
          <td>object.values()</td>
          <td>Returns a list of values.</td>
        </tr>
        <tr>
          <td>object.items()</td>
          <td>Returns the key:value pairs in the form of tuples (key, value)</td>
        </tr>
        <tr>
          <th rowspan="3">File object</th>
          <td>.read()</td>
          <td>Returns the entire contents of the file as a single string.</td>
        </tr>
        <tr>
          <Td>.readlines()</Td>
          <td>Returns a list containing the individual lines of the file.</td>
        </tr>
        <tr>
          <td>.readline()</td>
          <td>Returns a single line. Subsequent calls to the function return subsequent lines. Once the file has been read completely, the function will return an empty string.</td>
        </tr>

      </table>

      <section id="loops">
        <h2>Loops</h2>
        <h3>For Loops</h3>
        <p>Iterate through the elements in a list</p>
        <div class="code">
          <span class="blue">for</span> <span class="orange">var</span> <span class="blue">in</span> <span class="orange">list</span>:<br>
          &nbsp;<span class="black">#Code block</span><br>
          <span class="brown">Note: code block will execute as many times as elements there are in 'list' and 'var' will take the values in the list.<br>
          Note 2: you can use the range(n) function instead of list to get your loop to iterate n times.</span>
          </div>
          <p>You can also iterate through the keys or values in an object by using <code>object.keys()</code> or <code>object.values()</code> instead of <code>list</code>.</p>

      
        <h3>While loops</h3>
        <div class="code">
          i = 1<br>
          <span class="blue">while</span><span class="orange"> i &lt; 10</span>: <br>
          &nbsp;<span class="black">#Code block</span><br>
          &nbsp;i++
        </div>

        <h3>Continue</h3>
        <p>The <code>continue</code> keyword will skip the current iteration and jump to the next one.</p>

        <h3>List comprehensions</h3>
        <p>They are a way of creating lists. See the reference <a href="https://docs.python.org/3/tutorial/datastructures.html?highlight=list%20comprehension">here</a>.</p>


      </section>

      <section id="strings">
        <h2>Strings</h2>
        <p>Strings can be treated very much like lists of letters. Characters can be selected with <code>string[index]</code> and they can also be <em>sliced</em> with <code>string[start:finish]</code> notation.</p>
        
        <p>Keep in mind that <strong>strings are immutable</strong>, that is, there are no methods to modify a string.</p>

        <p>Because strings are lists, we can iterate trhough them with a simple <code>for letter in string</code>.</p>

        <p>We can check if a substring is containd in a string with <code>substring in string</code>. This is a boolean expression.</p>

        <h3>Formatted  strings</h3>
        <p>Use <code>f"Some string and {some_variable}"</code> to insert a variable's value into your strings.</p>

      </section>

      <section id="virtual-environment">
        <h2>Virtual environment in Python</h2>
        <p>To start a project in python we want to create a virtual environment to store all dependencies and all that faff (I think it's what we do when <code>npm init</code> for a JS project.<br>
        To start <code>pip install pipenv</code> and then in your project directory type <code>pipenv --three</code> to start a virtual environment on Python3. Then install your libraries with <code> pipenv install [library-name]</code> to download the library and store it as a dependency.0</p>
      </section>

      <section id="dictionaries">
        <h2>Dictionaries (~js' objects, C's hash tables)</h2>
        <p>Dictionaries are unordered sets of <code>key:value</code> pairs. Update or create a key:value pair with <code>myDic['key'] = value</code>.</p>
        <p>Create a dictionary from two lists with the fololwing sintax:</p>
        <div class="code">
          myDict = {key:value <span class="blue">for</span> key, value <span class="blue">in</span> zip(list1, list2)}
        </div>

        <p>Check the existence of a key in a dictionary with:</p>
        <div class="code">
          <span class="blue">if</span> key <span class="blue">in</span> <span class="brown">dictionary</span>: <br>&nbsp;<span class="black">#Code block </span>
        </div>

        <p>Add elements into the dictionary with the following:</p>
        <img src="/static/Images/dict.py.png">
      </section>

      <section id="files">
        <h2>Files, bro!</h2>
        <h3>Open and read</h3>
        <div class="code">
          <span class="brown">foo</span> = open(<span class="orange">'filename.ext'</span>)<br>
          <span class="black">#This line creates a file object</span><br>
          <span class="brown">contents</span> = foo.<span class="lightblue">read</span>()<br>
          <span class="black">#This line reads the contents of the file and stores them in the variable contents.</span><br>
          foo.<span class='lightblue'>close</span>()
        </div>

        <h3>Create and write</h3>
        <div class="code">
          <span class="brown">file</span> = open(<span class="orange">'foo.txt'</span>, <span class="orange">'w'</span>)<br>
          <span class="black">#Use the 'w' argument to open in write mode and overwrite the file (if it already exists). Use 'a' to open in append mode.</span>
          <span class="brown">file</span>.<span class="lightblue">write</span>(<span class="orange">'Sample text'</span>)<br>
          file.<span class='lightblue'>close</span>()
          
        </div>
        <p>Remember to <b>close</b> files when you're done with them. Alternatively, we can use the following sintax which does it for you:</p>
        <div class="code">
          <span class="blue">with</span> open(<span class="orange">'file.txt'</span>) <span class="blue">as</span> <span class="brown">foo</span>:<br>
          &nbsp;foo.<span class="lightblue">read</span>()
        </div>

        <h3>CSV files</h3>
        <p>See the <a href="https://docs.python.org/3/library/csv.html">documentation here</a>.</p>
        <p>Python has a <code>csv</code> library to handle these type of files:</p>
        <div class="code">
          <span class="blue">import</span> <span class="brown">csv</span><br><br>
          <span class="blue">with</span> open(<span class="orange">'file.csv'</span>, <span class="brown">newline</span> = <span class="orange">''</span>) <span class="blue">as</span> <span class="brown">foo</span>:<br>
          &nbsp; <span class="brown">data</span> = <span class="brown">csv</span>.<span class="lightblue">DictReader</span>(<span class="brown">foo</span>, <span class="brown">delimiter</span> = ';')
        </div>

        <p><code>csv.DictReader</code> returns a list of dictionaries representing the lines in the file (rows on the table) whose keys are the first line in the csv file (which would make the table headers on the spreadsheet).<br>
        <code>newline = ''</code> somehow allows you to read line breaks (\n) without python confusing it for a new line (row).<br>
        <code>delimiter</code> defines the character used to separate the chunks of data. It deffaults to commas but in some cases may be different.
        </p>

        <h3>Writing CSV files</h3>
        <div class="code"><img src='./Images/csv_write.jpg' title='writing csv files' height='280px'></div>

        <h3>managing JSON files</h3>
        <p>There's not a lot going on since the structure is the same, only the data types have different names. See the <a href="https://docs.python.org/3/library/json.html?highlight=json">reference here</a>.</p>
      </section>

      <section id="classes">
        <h2>Classes</h2>
        <p>Python classes have <em>attributes</em> instead of <em>properties</em>, like js classes do.</p>
        <p>When defining a class' methods, they will allways have at least one argument: <code>self</code>, that refers to the class itself (equivalent to <code>this </code>keyword in JS.</p>
        <div class="code">
          <span class="blue">class MyClass</span>:<br>
          &nbsp; <span class="brown">property01</span> = 1<br>
          &nbsp; <span class="blue">def method01</span>(<span class="brown">self</span>):<br>
          &nbsp; &nbsp;<span class="blue">return</span><span class="brown"> self</span>.<span class="lightblue">property01</span>
        </div>

        <h3>Dunder methods</h3>
        <p>Double underscore methods are special.<br>
        <code>__init__</code> is the constructor. It is called when an instance of the class is created. Any parameters passed on to the class constructor will be in turn be passed on to this method.<br>
        __repr__ can only take one argument (self) and must return a string. It defines the string representation of the object.<br>
        __add__ defines what happens when two objects are added using +.
        </p>
        
        <h3>Inheritance</h3>
        <p>Say you have the class MyClass, you can define a subclass of it by simply passing it as an argument to your subclass definition: <br>
        <code>class MySubClass(MyClass):</code><br>
        And then you can override any <em>attributes</em> by redifining them or define new ones not present in the parent class.
        </p>
      </section>

      <section id="flask">
        <h2>Flask</h2>
        <p>Flask is a python web server. It requires the following directory structure:</p>
        <img src="/static/Images/flask.png">

        <h3>Here's what a simple flask server looks like</h3>
        <img src="/static/Images/flask_server.png">
        <p>To get your server running you need to execute the following commands at the command line:</p>
        <div class="code">
          $ export FLASK_APP=app.py<br>
          $ export FLASK_DEBUG=1<br>
          $ flask run
        </div>

        <h3>Jinja templating syntax</h3>
        <p>Create a layout template as follows:</p>
        <img src="/static/Images/layout.png">
        <p>And then plug stuff into it with</p>
        <img src="/static/Images/jinja.png">
      </section>

      <section id="sessions">
        <h2>Sessions</h2>
        <p>The aim here is to build stateful applications (apps that remember things). This is done through cookies. Some server may plant a cookie on a browser (for ir to store it on memory or disk) via the http header <code>'Set-Cookie: session=value'</code>. When you then visit another website, your browser will send the header <code>'Cookie: session=value'</code></p>

        <p>Within a Flask app, there will be a session object for every user visiting the page, in which the <strong>state</strong> can be stored:</p>
        <img src="/static/Images/session.png">
        
      </section>

{% endblock %}