{% extends "layout.html" %}

{% block main %}
<section id="intro">
    <h2><b>S</b>tructured <b>Q</b>uery <b>L</b>anguage</h2>
    <p>SQL statements end in a semicolon and are made of <em>clauses</em> (in capital letters) and other things froom the universe of data.</p>

    <script src="https://gist.github.com/alvarezrrj/b97a8e27e5b1379ba8adb23471e1a6a7.js"></script>

    <h3>Wildcards</h3>
    <ul>
        <li>'_' - one character.</li>
        <li>'%' - any number of characters.</li>
    </ul>

    <h3>Operators</h3>
    <p>We can use the normal operators =, !=, &lt;=, etc for numbers but to check a value against it being <code>null</code>, you have to use <code>IS</code> or <code>IS NOT</code>. Use the logical operators <code>AND</code> and <code>OR</code>.</p>

    <p>We can select items falling within a range by using <code>WHERE  column BETWEEN value1 AND value2</code>. The values can be, numbers, strings or dates. When the values are text, BETWEEN returns the results within the alphabetical range. The BETWEEN operator includes the upper value.</p>

    <h3>Manipulating minds... tables</h3>
    <p>Create a new table with:</p>
    <script src="https://gist.github.com/alvarezrrj/a62f0bffdd563fdc60a86e1f00428cbf.js"></script>

    <p>Once you've got a beautiful table you can add data to it:            </p>
    <script src="https://gist.github.com/alvarezrrj/aafd099a13100f039bba34d2dd9ecfd8.js"></script>

    <p>It doesn't end here though, you can also <code>ALTER</code> tables.</p>
    <script src="https://gist.github.com/alvarezrrj/786f571385c789038fd709cdaf85224f.js"></script>

    <p>And then <code>UPDATE</code> your newly created column with:</p>
    <script src="https://gist.github.com/alvarezrrj/845c905a365b246df0f600ebb657b717.js"></script>

    <p>Don't like that row?</p>
    <script src="https://gist.github.com/alvarezrrj/9dc8eeb8b6e54be1d892b35d9181c0a0.js"></script>
    
    <h3>Constraints</h3>
    <script src="https://gist.github.com/alvarezrrj/517c2d8ba6cd052aaa43805a07e5ee01.js"></script>

    <h3>Agregates</h3>
    <p>Agregates are calculations made on a table's data.</p>
    <ul>
        <li>COUNT(): returns the number of rows.</li>
        <li>SUM(): returns the sum fo the values of a column.</li>
        <li>MAX() / MIN(): yhey do what you would expect the to do. </li>
        <li>AVG(): returns the average of a column.</li>
        <li>ROUND(col-name, decimal-places): rounds all the values in a column to the set number of decimals.</li>
    </ul>
    
    <h4>Agregate and group by syntax</h4>
    <script src="https://gist.github.com/alvarezrrj/50ce0e59a96569810dfae48b9ee9cc6c.js"></script>

    <h3>Multiple tables</h3>
    <p>Join tables with:</p>
    <script src="https://gist.github.com/alvarezrrj/be958e9c35c4b158ed0f1a116dc7eab2.js"></script>

    <p>If you have two tables with the same number of columns and same data type in the same order, you can add the rows together: </p>
    <script src="https://gist.github.com/alvarezrrj/d76abf235385d01a7eb5658ca1db7e09.js"></script>

    <h3>See a database's structure</h3>
    <p>
      In MariaDB, you can use the following commands to see a <code>CREATE</code> statement or a representation of a table:
    </p>
    <script src="https://gist.github.com/alvarezrrj/a67fedad20fe87900e460dd431ba7a25.js"></script>

</section>

<section id="users">
    <h2>Create a new user:</h2>
    <script src="https://gist.github.com/alvarezrrj/f3996113c263898e4c25f1be00dc048c.js"></script>

    <h3>Permissions</h3>
    <p>Grant a user access to a database with the following</p>
    <script src="https://gist.github.com/alvarezrrj/441e6cadd204efbae84150bcccf6e383.js"></script></section>


<section id="JavaScript">
    <h2>SQL in JavaScript</h2>
    <p>CodeCademy <a href="https://www.codecademy.com/learn/paths/web-development/tracks/building-a-persistent-api/modules/learn-node-sqlite-module/cheatsheet">cheatsheet</a></p>
    <p>To run sql queries in javascript, first import the <code>sqlite</code> module and then open the database file</p>
    <script src="https://gist.github.com/alvarezrrj/50f1d26cc7a5c937df84b8d16accd08c.js"></script>

    <p>Then, to run a query and retrieve all rows returned, call <code>db.all()</code></p>
    <script src="https://gist.github.com/alvarezrrj/ebd67efaa8f63838eef97d09033582c9.js"></script>

    <p><code>db.each()</code> allows you to run a query and then perform a callback on every row and then on the rows object subsequently</p>
    <script src="https://gist.github.com/alvarezrrj/e29c3a34b807859acdf679bd1ce6a08e.js"></script>

    <h3>Serialize</h3>
    <p>When running multiple asynchronous tasks, use <code>db.serialize()</code> to ensure they only run when the previous one ended</p>
    <script src="https://gist.github.com/alvarezrrj/f6308bbc291280b3d3a201b83571175a.js"></script>

</section>

<section id="php">
    <h2>SQL in PHP</h2>
    <p>
      The <code>Mysqli</code> (MySQL improved) class allows you to acces the functionality provided by MySQL 4.1 and above.
    </p>

    <p>
      Connect to the database with <br>
        <code>$conn = new mysqli($host, $user, $password, $dbname, $port, $socket);</code> See the <a href="https://www.php.net/manual/en/book.mysqli">reference</a>. <br>
        and ensure the connection was successful by checking<br>
        <code>$conn->conncect_errno</code> which will be set to 0 on a successful connection and an integer value on error. If <code>$conn->conncect_errno</code> is different than 0, you can then find the error description under <br>
        <code>$conn->connect_error</code>.</p>

    <p>Once you have the connection object set up, run queries with <br>
    <code>$result = $conn->query("SELECT * FROM tblname");</code><br>
    which returns one of the following: <br>
    <ul>
        <li>
            <code>false</code> on failure. Use <code>$conn->error</code> to see a description of the last error.
        </li>
        <li>
            <code>true</code> on success for queries that don't return any data.
        </li>
        <li>
            a <a href="https://www.php.net/manual/en/class.mysqli-result.php"><code>mysqli_result</code></a> object on success for queries that return data.
        </li>
    </ul> 

    Use <code>$result->fetchh_all(MYSQLI_ASSOC)</code> to get an array of asociative arrays, each of which represents a result row. Alternatively use <br>
    <code>$result->fetch_asoc()</code> which returns an asociative array representing a row each time you call it or <code>null</code> when there are no more rows.
    </p>

    <h3>Prepared statements</h3>
    <p>
      Use <br><code>$stmt = $conn->prepare("QUERY WITH ? PLACEHOLDERS ?")</code> and then bind the parameters with<br>
    <code><a href="https://www.php.net/manual/en/mysqli-stmt.bind-param.php">$stmt->bind_param</a>("ss", $var1, $var2)</code> followed by <br>
    <code>$stmt->execute()</code> which runs the query and returns <code>true</code> on success and <code>false</code> on failure.<br>
    You can then run <code>$result = $stmt->get_result()</code> which returns a <code>mysqli_result</code> object that can be used as described above. 
    </p>

    <h3>Closing connections</h3>
    <p>
      Use <code>mysqli::close()</code> method to explicitly close a prevously opened connection. Not strictly necesary as open MySQL connections and result sets are automatically closed when their objects are destroyed.
    </p>

</section>

<section id="race-conditions">
    <h2>Race conditions</h2>
    <p>When multiple users are making changes to your database at the same time, the server might split resources and run the same query for both users at the same time. If the first user's interaction was meant to update the database but the <code>update</code> code doesn't run untill the second user's <code>select</code> code is run, then the second user get's the <em>old</em> value returned to him and. This can be solved by using: </p>

   <script src="https://gist.github.com/alvarezrrj/9c075a422415f1d7c430a54f160ffb6b.js"></script>
    
</section>

{% endblock %}